
.country-edu-ul{
    padding:0 10px;
    background:#fff;
    display: none;
}
.country-edu-box ul:nth-of-type(1){
    display: block;
}
.country-edu-ul li{
    padding:10px 0;
    border-top: 1px solid #eee;
    display: flex;
}
.country-edu-ul li a{
    display: flex;
}
.adviser-touxiang{
    width:60px;
    height:60px;
    border-radius: 50px;
    margin-right: 10px;
}
.adviser-right{
    display: flex;
    flex-direction: column;
}
.adviser-name{
    display: flex;
    margin-top: 4px;
    align-items: center;
}
.adviser-name span{
    font-size: 14px;
    color:#333;
    margin-right: 5px;
    line-height: 14px;
}
.adviser-name i{
    display: block;
    width:11px;
    height:11px;
    background:url(../img/v.png) no-repeat 0 0;
    background-size:11px 11px;
}
.adviser-title{
    margin-top:10px;
    font-size: 13px;
    color:#666;
    line-height: 13px;
}
.art-tag{   
    margin-top: 8px;
    position: relative;
    padding:0 7.5px;
}
.art-tag-bg{
  position: absolute;
  left:0;
  top:0;
  background:#c13232;
  opacity: 0.06;
  filter: alpha(opacity=6); 
  display: block;
  width: 100%;
  height: 15px;
  border-radius: 12px;
}
.art-tag-list{
  font-size: 12px;
  color:#999;
  line-height: 15px;
}
.art-bg-tag{
    margin-top: 8px;
    font-size: 12px;
    color:#999;
}