{# 在线预约 #}

<style type="text/css">
.yuyue{
  width: 290px;
  height: 312px;
  position: relative;
  border-bottom: 10px;
}
.yuyue_title{
  width: 290px;
  height: 50px;
  background: url({{helper.cdnhost}}/assets/img/yuyue_title.png) no-repeat;
  background-size: cover;
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.yuyue_con{
  width: 100%;
  height: auto;
  padding: 25px 20px;
  background: #fff;
}
.yuyue_con input{
    flex: 1;
    border:1px solid #eeeeee;
    padding-left: 10px;
    font-size: 14px;
    color:#333;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.yuyue_con .error{
  width: 100%;
  text-align: left;
  font-size: 10px;
  color: #D51821;
}
.yuyue_con input.yan{
  width: 63%;
  height: 30px;
  border-right: none;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.yuyue_con input.code{
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 6px 2px;
  background: #D51821;
  color: #fff;
  border: 1px solid #D51821;
  border-radius: 2px; 
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  line-height: 0px;
}
.yuyue_con .yanzheng{
  width: 37%;
  margin-right: 0px;
  height: 30px;
  line-height: 30px;
  float: right;
}
.yuyue_con input.but{
  margin-top: 20px;
  width: 100%;
  height: 34px;
  text-align: center;
  line-height: 34px;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  background: #D51821;
  border: 1px solid #c13232;
}
.yuyueclose{
  width: 30px;
  height: 30px;
  background: url({{helper.cdnhost}}/assets/img/yuyue_close.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -26%;
  left: 45%;
  z-index: 6000;
}
.yuyueclose a{
  width: 30px;
  height: 30px;
  display: block;
 
  
  
}
</style>

<div id="toast" style="display: none;z-index: 10000;">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast" style="z-index: 10000;">
      <i class="weui-icon-success-no-circle weui-icon_toast"></i>
      <p class="weui-toast__content">成功</p>
  </div>
</div>

<div class="js_dialog" id="dialog1" style="opacity: 1;display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog" style="max-width: 290px;border-radius: 10px;overflow: inherit;">
        <div class="yuyue">
            <div class="yuyue_title">在线预约</div>
            <div class="yuyue_con">
              <div style="width: 100%;">
                <input type="text" placeholder="请输入您的真实姓名" id="name" style="width: 100%;height: 30px;">
                <div class="error" id="error_name" style="display: none">请输入您的真实姓名</div>
              </div>
              <div style="width: 100%;margin-top: 10px">
                  <input type="text" placeholder="请输入手机号" id="phone" style="width: 100%;height: 30px;">
                  <div class="error" id="error_phone" style="display: none">您输入的手机号码不正确</div>
              </div>
              <div class="clearfix" style="width: 100%;margin-top: 10px">
                  <input type="text" placeholder="请输入验证码" id="code" class="yan">
                  <div class="yanzheng">
                      <input type="button" class="code" style="" id="sendcun_user" value="获取验证码"/>
                  </div>
                  <div class="error" id="error_code" style="display: none">您输入的验证码不正确</div>
              </div>
              <div style="width: 100%;margin-top: 10px">
                  <input type="text" placeholder="请输入邮箱" id="email" style="width: 100%;height: 30px;">
                  <div class="error" id="error_email" style="display: none">您输入的邮箱不正确</div>
              </div>

              <input type="button" class="but" style="" id="yuyueSubmit" value="立即预约" data-url='{{url}}'/>
            </div>

        </div>
        <div class=" yuyueclose">
            
        </div>
    </div>
</div>

<script>

  var timer;
  function countDown() {
    // 60s倒计时
    console.log(200)
    // $("#sendcun_user").unbind("click");
    var countDownTime = 60;
    timer = window.setInterval(function () {
        countDownTime--;
        $("#sendcun_user").attr("value", countDownTime + "s");
        $("#sendcun_user").css('background','#ccc');
        $("#sendcun_user").css('border','1px solid #ccc');
        $("#sendcun_user").attr("disabled", "disabled");
        if (countDownTime == 0) {
            $("#sendcun_user").attr("value", "发送验证码");
            $("#sendcun_user").css('background','#D51821');
            $("#sendcun_user").css('border','1px solid #D51821');
            $("#sendcun_user").removeAttr("disabled");
            clearInterval(timer);
            // $("#sendcun_user").on('click',getCode);

        }
    }, 1000);
  }
  //获取验证码
  function getCode () {
    console.log(100)
    if ($('#phone').val() == '') {
        $('#error_phone').css('display','block')
        return false;
      } else {
        $('#error_phone').css('display','none')
      }
      if (!/^1\d{10}$/.test($("#phone").val())) {
        $('#error_phone').css('display','block')
        return false;
      } else {
        $('#error_phone').css('display','none')
      }
    
    $.ajax({
        url: ajaxUrlPrefix.nodeapi+'/ucapi/ucapi_agent',
        type:'get',
        data:{
            m: 'sendcode',
            phone:$("#phone").val()
        },
        dataType:'json',
        success:function(msg){
            if(msg.code === 0){
                //alert('成功');
                countDown();
                $('.weui-toast__content').html('成功');
                $('#toast').fadeIn(100);
                setTimeout(function () {
                  $('#toast').fadeOut(100);
                }, 2000);
            } else {
                // alert('出错啦');
              $('.weui-toast__content').html(msg.message);
              $('#toast').fadeIn(100);
              setTimeout(function () {
                $('#toast').fadeOut(100);
              }, 2000);
            }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
        }
    });
  }
  //验证短信验证码是否正确
  var checkCode = function () {
    $.ajax({
      url: ajaxUrlPrefix.nodeapi+'/ucapi/ucapi_agent',
      type:'get',
      data:{
        m: 'check_code',
        code: $("#code").val(),
        phone: $('#phone').val()
      },
      dataType:'json',
      success:function(msg){
        console.log(msg);
        if(msg.code === 0){
          customize();
        } else {
          // alert(msg.message);
          $('.weui-toast__content').html(msg.message);
          $('#toast').fadeIn(100);
          setTimeout(function () {
            $('#toast').fadeOut(100);
          }, 2000);
        }
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
      }
    });
  };
  //在线预约-预约活动
  var customize = function () {
    //发送定制
    $.ajax({
      url: ajaxUrlPrefix.nodeapi+'/cmsapi/onlineBooking', //活动预约
      type:'GET',
      data:{
        name: $('#name').val(),
        phone: $('#phone').val(),
        email: $('#email').val(),
        code:$("#code").val()
      },
      dataType:'json',
      success:function(msg){
        
        if(msg.code === 0){
          // alert('成功');
          $('#email').val("");
          $('#code').val("");
          $('#phone').val("");
          $('#name').val("");
          $("#sendcun_user").attr("value", "发送验证码");
          $("#sendcun_user").css('background','#D51821');
          $("#sendcun_user").css('border','1px solid #D51821');
          $("#sendcun_user").removeAttr("disabled");
          clearInterval(timer);
          $("#dialog1").hide();
          $('.weui-toast__content').html('成功');
          $('#toast').fadeIn(100);
          setTimeout(function () {
            $('#toast').fadeOut(100);
          }, 2000);
        } else {
          // alert(msg.message);
          $('.weui-toast__content').html(msg.message);
          $('#toast').show();
          setTimeout(function () {
            $('#toast').hide();
          }, 2000);
        }
      },
      error:function(XMLHttpRequest, textStatus, errorThrown){
        console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
        console.log(textStatus);
        console.log(errorThrown)
      }
    });
  };

  function showyuyue () {
      $("#dialog1").show();
  }

  $(function () {
    //获取验证码
    $("#sendcun_user").on('click',function(){
      if ($('#phone').val() == '') {
        $('#error_phone').css('display','block')
        return false;
      } else {
        $('#error_phone').css('display','none')
      }
      if (!/^1\d{10}$/.test($("#phone").val())) {
        $('#error_phone').css('display','block')
        return false;
      } else {
        $('#error_phone').css('display','none')
      }
      getCode();
    });

    //立即预约
    $('#yuyueSubmit').on('click',function () {
      if ($('#name').val() == '') {
        $('#error_name').css('display','block');
        return false;
      }else {
        $('#error_name').css('display','none');
      }
      if ($('#phone').val() == '') {
        $('#error_phone').css('display','block');
        $('#error_phone').html('您输入的手机号码不正确');
        return false;
      } else {
        $('#error_phone').css('display','none');
      }
      if (!/^1\d{10}$/.test($("#phone").val())) {
        $('#error_phone').css('display','block');
        $('#error_phone').html('您输入的手机号码格式不正确');
        return false;
      } else {
        $('#error_phone').css('display','none');
      }
      if ($('#code').val() === '') {
        $('#error_code').css('display','block');
        $('#error_code').html('您输入的验证码不正确');
        return false;
      } else {
        $('#error_code').css('display','none');
      }
      if (!/^\d{6}$/.test($("#code").val())) {
        $('#error_code').css('display','block');
        $('#error_code').html('您输入的验证码不足6位');
        return false;
      } else {
        $('#error_code').css('display','none');
      }
      if ($('#email').val() == '') {
        $('#error_email').css('display','block');
        $('#error_email').html('您输入的邮箱不正确');
        return false;
      } else {
        $('#error_email').css('display','block');
      }
      if (!/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,4}$/.test($('#email').val())) {
        $('#error_email').css('display','block');
        $('#error_email').html('您输入的邮箱不正确');
        return false;
      }else {
        $('#error_email').css('display','none');
      }
      checkCode();
    });
    //关闭弹窗
    $('.yuyueclose').on('click', function(e){
      e.preventDefault();
      
      $('#email').val("");
      $('#code').val("");
      $('#phone').val("");
      $('#name').val("");
      $('#error_email').css('display','none');
      $('#error_code').css('display','none'); 
      $('#error_phone').css('display','none'); 
      $('#error_name').css('display','none'); 
      $("#sendcun_user").attr("value", "发送验证码");
      $("#sendcun_user").css('background','#D51821');
      $("#sendcun_user").css('border','1px solid #D51821');
      $("#sendcun_user").removeAttr("disabled");
      clearInterval(timer);   
      // $("#sendcun_user").on('click',getCode);
      $("#dialog1").hide();
    });
  })
</script>