
<header class="header">
  <div class="header-Catalog" >
    <span></span>
  </div>
	<div class="header-logo" >
    <a style="display: block;height: 100%;" href="{{helper.urlgen('branch_home','c='+tdk.cityid)}}"></a>
	</div>
	<!-- <a class="header-jjl" href="#">
    金吉列移民
  </a> -->
  <a class="header-jjl" href="{{helper.urlgen('about')}}">
    关于金吉列
  </a>
	<div class="header-city" >
		<svg class="icon header-location" aria-hidden="true">
      <use xlink:href="#icon-didian-copy"></use>
    </svg>
		<i>{{ tdk.cityid | getCity}}</i>
	</div>
</header>
<!-- ====定位=== -->
<div id="popupTipsLocation" style="display:none">
  <div class="m_popup_wrap">
    <div class="m_popup_box">
      <div class="title">获取定位<b class="close before"></b></div>
      <div class="text">
        <p>距离您当前位置最近的分公司:<br>金吉列
          <span id="fengongsi">北京</span>
        </p>
       </div>
       <div class="btn_box">
          <a id="selBySelf" class="btn_public btn_general">手动选择</a>
          <a id="selByIp" class="btn_public btn_highlight">好</a>
       </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    FastClick.attach(document.body);
    $(".header-city").on("click",function(){
      //选择城市
      window.location.href=fn.urlgen('city');
    });
    //定位
    var _selByIp_code=null;
    var n=document.getElementById("popupTipsLocation");
    function closePopup(){
      var a=document.querySelector("#popupTipsLocation");
      a.parentNode.removeChild(a);
    }
    $('.close').on('click', function () {
      //关闭按钮
      closePopup();
      $.cookie('currentarea', _selByIp_code, {path: '/'});
      window.location.reload();
    });
    $('#selByIp').on('click', function () {
      //确定按钮
      closePopup();
      window.location.href= fn.urlgen('branch_home','c=' +  _selByIp_code);
    });
    $('#selBySelf').on('click', function () {
      //手动选择
      closePopup();
      window.location.href=fn.urlgen('city');
    });
    $.ajax({
      type: "get",
      async: false,
      url:ajaxUrlPrefix.nodeapi+"/get_ip_geter",
      dataType: "json",
      success: function(result){
        console.log(result)
        if(!$.cookie('currentarea')){
          $("#fengongsi").html(cityList[result][0]);
          $("#popupTipsLocation").css("display","block"); 
            _selByIp_code=result;
        }
      },
      error: function(error){
        console.log(error)
      }
    }); 
  })
</script>

