<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/activity_detail.css">
</head>
<body>
<div id="app">
  <header class="header">
    <div class="header-Catalog">
      <span></span>
    </div>
    <div class="activity-biaoti">
      {{ activity_detail.list.title }}
    </div>
    <div class="header-yuyue">
		<span class="header-jjl_xin" onclick="showyuyue ()" href="">
        在线预约
		</span>
    </div>
  </header>
  <div class="activity-zixunxin">
    <h3 class="activity—title">{{ activity_detail.list.title }}</h3>
    <p>
      开始时间：
      <span>{{ activity_detail.list.start_time}}</span>
    </p>
    <p>
      结束时间：
      <span>{{ activity_detail.list.end_time }}</span>
    </p>
    <p>
      讲座地点：
      <span>{{ activity_detail.list.address_des }}</span>
      {% if activity_detail.list.longitude and activity_detail.list.address_des  %}
      <a class="map-btn" href="http://api.map.baidu.com/marker?location={{ activity_detail.list.longitude }},{{ activity_detail.list.latitude }}&title=我的位置&content={{ activity_detail.list.address_des }}&output=html"><svg class="icon icon-map" aria-hidden="true">
        <use xlink:href="#icon-ditu"></use>
      </svg></a>
      {% endif %}
    </p>
    <p>
      联系电话：
      <span>{{ activity_detail.list.active_telephone }}</span>
    </p>
    <div class="activity-button-xin">
      <a href="tel:{{ activity_detail.list.active_telephone }}">电话预约</a>
    </div>
  </div>
  <!--评估表单 end-->
  <div class="activity-content">
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>针对人群&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.crowd }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>活动亮点&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.activity_highlights  }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>举办城市&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.hold_city | getCity }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>开始时间&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.start_time}}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>结束时间&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.end_time }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>主要内容&nbsp;:</span></h3>
    <p class="xianzhi-img" data-img="" id="get-share-img" data-introduce ="{{activity_detail.list.description}}" >
      {{ activity_detail.list.content | safe }}
    </p>
  </div>
  <div class="fenxiang_con">
    <div class="wenxin_con">
    </div>
    <div class="bdsharebuttonbox bdshare-button-style0-16">
      <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    </div>
    <div class="cue_qq_con">
      <div>
      </div>
      <div class="cue_weixin">
        <div>
        </div>
      </div>
      <div class="cue_weixin1">
        <div>
        </div>
      </div>
      <div class="cue_qq">
        <div>
        </div>
      </div>
    </div>
    </div>
<!--footer start-->
  {% include "m_widget/footer/common_footer.html" %}
  <!--footer end-->
    {% include "m_widget/booking/booking.html" %}
    <!-- ===侧边栏==== -->
    {% include "m_widget/slidebar/slidebar.html" %}
    <!-- ======乐语底栏======= -->
    {% include 'm_widget/funtalk/funtalk.html' %}
</div>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=586c90bc5512edfcd7de1696749f8ef7"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
    <script>
      //  document.domain='http://widget.weibo.com';
      window.onload =function(){
        window._bd_share_config = {
          "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "1",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16",
            "bdUrl": window.location.href
          },
          "share": {}
        };
        with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
        $(".jiangzuo-btn").on("click",function(){
          $(".mark").show();
          $(".mark-box").show();
        })
        $('.mark').on('click',function () {
          console.log('aaaa')
          $(this).hide();
          $(".mark-box").hide();
        })
        function isWeiXin() {
          // 检查微信环境
          var ua = window.navigator.userAgent.toLowerCase();
          if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
          } else {
            return false;
          }
        }
        if($("#get-share-img").attr('data-img')==''){
          $("#get-share-img").append('<img src="'+getImage()+'" width="0" height="0" />');
        }
        function getImage() {
          // 获取图片
          return 'http://'+location.host+'/assets/img/share_logo.png';
        }
        if(isWeiXin()){
          $('.wenxin_con').on('click',function(e){
            e.stopPropagation();
            this.flag =!this.flag;
            if(this.flag){
              $('.cue_weixin').css("display","block");
            }else{
              $('.cue_weixin').css("display","none");
            }
          });
          $(document).on('click touchstart', function (){
            if($('.cue_weixin').css("display")=='block'){
              $('.cue_weixin').css("display","none");
            }
          });
          $('.cue_qq_con').on('click',function(e){
            e.stopPropagation();
            this.flag =!this.flag;
            if(this.flag){
              $('.cue_qq').css("display","block");
            }else{
              $('.cue_qq').css("display","none");
            }
          });
          $(document).on('click touchstart', function (e){
            if($('.cue_qq').css("display")=='block') {
              $('.cue_qq').css("display", "none");
            }
          });
          // 去获取signature签名
          $.ajax({
            type: "POST",
            url:"/wxJssdk/getJssdk",
            dataType: "json",
            data:{
              url:location.href.split('#')[0]
            },
            success: function(result){
              // console.log(result)
              wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: result.appId, // 必填，公众号的唯一标识
                timestamp: result.timestamp, // 必填，生成签名的时间戳
                nonceStr: result.nonceStr, // 必填，生成签名的随机串
                signature: result.signature,// 必填，签名
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
              });
              wx.ready(function(){
                // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
                wx.onMenuShareTimeline({
                  title: $('.activity—title').text(), // 分享标题
                  link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                  imgUrl: $("#get-share-img").attr('data-img')||getImage(), // 分享图标
                  success: function () {
                    // 用户确认分享后执行的回调函数
                  },
                  cancel: function () {
                    // 用户取消分享后执行的回调函数
                  }
                });
                wx.onMenuShareAppMessage({
                  title: $('.activity—title').text(), // 分享标题
                  desc: $("#get-share-img").attr("data-introduce"), // 分享描述
                  link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                  imgUrl: $("#get-share-img").attr('data-img')||getImage(), // 分享图标
                  type: '', // 分享类型,music、video或link，不填默认为link
                  dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                  success: function () {
                    // 用户点击了分享后执行的回调函数
                  }
                });
              });
            },
            error: function(error){
              console.log(error)
            }
          });
        }else{
          $('.wenxin_con').on('click',function(e){
            e.stopPropagation();
            this.flag=!this.flag;
            if(this.flag) {
              $('.cue_weixin1').css("display","block");
            }else{
              $('.cue_weixin1').css("display","none");
            }
          });
          $('.cue_qq_con').on('click',function(e){
            e.stopPropagation();
            this.flag=!this.flag;
            if(this.flag) {
              $('.cue_weixin1').css("display","block");
            }else{
              $('.cue_weixin1').css("display","none");
            }
          });
          $(document).on('click touchstart', function (){
            if($('.cue_weixin1').css("display")=='block'){
              $('.cue_weixin1').css("display","none");
            }
          });
        }
      }
    </script>
</body>
</html>