<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/activity_detail.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=586c90bc5512edfcd7de1696749f8ef7

"></script>
<body>
<div id="app" style="position: relative" >
  <header class="header">
    <div class="header-Catalog" >
      <span></span>
    </div>
    <div class="activity-biaoti" >
      骑士老皇帝
    </div>
    <!-- <a class="header-jjl" href="{{ helper.urlgen('yimin') }}">
    金吉列移民
  </a> -->
    <a class="header-jjl" href="">
      在线预约
    </a>
  </header>

  <div class="activity-zixunxin">
    <h3 class="activity—title">骑士老詹牛</h3>
    <p>活动时间：<span>2018.01.12</span></p>
    <p >讲座地点：<span>美国</span><a class="map-btn" href="http://api.map.baidu.com/marker?location={{ maparr[0] }},{{ maparr[1] }}&title=我的位置&content={{ huodongdiye.address_des }}&output=html"><svg class="icon icon-map" aria-hidden="true">
      <use xlink:href="#icon-ditu"></use>
    </svg></a></p>
    <p style="margin-top: 3px">联系电话：<span>13269515562</span></p>
    <div class="activity-button-xin">
      <a href="tel:13269515562">电话预约</a>
    </div>
  </div>


  <!--评估表单 end-->
  <div class="activity-content">
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>针对人群&nbsp;:</span></h3>
    <p>{{ huodongdiye.crowd }}绰号“小皇帝”，又称“詹皇”</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>活动亮点&nbsp;:</span></h3>
    <p>{{ huodongdiye.description  }}绰号“小皇帝”，又称“詹皇”</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>举办城市&nbsp;:</span></h3>
    <p>{{ huodongdiye.hold_city | getCity }}绰号“小皇帝”，又称“詹皇”</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>活动时间&nbsp;:</span></h3>
    <p>{{ huodongdiye.start_time | getDefaultFormat('YYYY-MM-DD HH:mm')}}&nbsp;&nbsp;至&nbsp;&nbsp;{{ huodongdiye.end_time | getDefaultFormat('YYYY-MM-DD HH:mm')}}</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>主要内容&nbsp;:</span></h3>
    <p>{{ huodongdiye.content | safe }}简介：歌曲专辑封面詹姆斯（NBA著名巨星）勒布朗·詹姆斯（LeBron James），绰号“小皇帝”，又称“詹皇”，1984年12月30日出生在美国·俄亥俄州·阿克伦，世界著名的美国男子职业篮简介：歌曲专辑封面詹姆斯（NBA著名巨星）勒布朗·詹姆斯（LeBron James），绰号“小皇帝”，又称“詹皇”，1984年12月30日出生在美国·俄亥俄州·阿克伦，世界著名的美国男子职业简介：歌曲专辑封面詹姆斯（NBA著名巨星）勒布朗·詹姆斯（LeBron James），绰号“小皇帝”，又称“詹皇”，1984年12月30日出生在美国·俄亥俄州·阿克伦，世界著名的美国男子职业篮简介：歌曲专辑封面詹姆斯（NBA著名巨星）勒布朗·詹姆斯（LeBron James），绰号“小皇帝”，又称“詹皇”，1984年12月30日出生在美国·俄亥俄州·阿克伦，世界著名的美国男子职业篮</p>
  </div>
  <div class="fenxiang_con">
    <div><img  src="../../assets/img/weixin.png" alt=""></div>
    <div><img  src="../../assets/img/xinlang.png" alt=""></div>
    <div><img  src="../../assets/img/qq.png" alt=""></div>
  </div>
</div>

<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
<script>
  $(".jiangzuo-btn").on("click",function(){
    $(".mark").show();
    $(".mark-box").show();
  })
  $('.mark').on('click',function () {
    console.log('aaaa')
    $(this).hide();
    $(".mark-box").hide();
  })
</script>
</body>
</html>