<!DOCTYPE html>
<html lang="en">
<head>
  {% include "header.html" %}
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/activity_detail.css">
</head>
<body>
<div id="app">
  <header class="header">
    <div class="header-Catalog">
      <span></span>
    </div>
    <div class="activity-biaoti">
      {{ activity_detail.list.title }}
    </div>
    <div class="header-yuyue">
      <span class="header-jjl_xin" onclick="showyuyue ()" href="">
        在线预约
      </span>
    </div>
  </header>
  <div class="activity-zixunxin">
    <h3 class="activity—title">{{ activity_detail.list.title }}</h3>
    <p>
      开始时间：<span>{{ activity_detail.list.start_time}}</span>
    </p>
    <p>
      结束时间：<span>{{ activity_detail.list.end_time }}</span>
    </p>
    <p>
      讲座地点：<span>{{ activity_detail.list.address_des }}</span>
      {% if activity_detail.list.longitude and activity_detail.list.address_des  %}
      <a class="map-btn" href="http://api.map.baidu.com/marker?location={{ activity_detail.list.longitude }},{{ activity_detail.list.latitude }}&title=我的位置&content={{ activity_detail.list.address_des }}&output=html"><svg class="icon icon-map" aria-hidden="true">
        <use xlink:href="#icon-ditu"></use>
      </svg></a>
      {% endif %}
    </p>
    <p>
      联系电话：<span>{{ activity_detail.list.active_telephone }}</span>
    </p>
    <div class="activity-button-xin">
      <a href="tel:{{ activity_detail.list.active_telephone }}">电话预约</a>
    </div>
  </div>
  <!--评估表单 end-->
  <div class="activity-content">
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>针对人群&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.crowd }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>活动亮点&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.description  }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>举办城市&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.hold_city | getCity }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>开始时间&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.start_time}}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>结束时间&nbsp;:</span></h3>
    <p>
     {{ activity_detail.list.end_time }}
    </p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>主要内容&nbsp;:</span></h3>
    <p>
      {{ activity_detail.list.content | safe }}
    </p>
  </div>
  <div class="fenxiang_con">
    <img class="wenxin_con" src="../../assets/img/weixin.png" alt="">
    <div class="bdsharebuttonbox bdshare-button-style0-16">
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
   </div>
    <!--</a>-->
    <img class="cue_qq_con" src="../../assets/img/qq.png" alt="">
  </div>
  <div class="cue_weixin">
    <img src="../../assets/img/weixinfenxiangtu.png" alt="">
  </div>
  <div class="cue_weixin1">
    <img src="../../assets/img/liulanqifenxiangtu.png" alt="">
  </div>
  <div class="cue_qq">
    <img src="../../assets/img/cue_qq.png" alt="">
  </div>
</div>
{% include "m_widget/booking/booking.html" %}
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=586c90bc5512edfcd7de1696749f8ef7"></script>
<script>
//  document.domain='http://widget.weibo.com';
  window.onload =function(){
    window._bd_share_config = {
      "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "1",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16",
        "bdUrl": window.location.href
      },
      "share": {}
    };
    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    $(".jiangzuo-btn").on("click",function(){
      $(".mark").show();
      $(".mark-box").show();
    })
    $('.mark').on('click',function () {
      console.log('aaaa')
      $(this).hide();
      $(".mark-box").hide();
    })
    function isWeiXin() {
      // 检查微信环境
      var ua = window.navigator.userAgent.toLowerCase();
      if (ua.match(/MicroMessenger/i) == 'micromessenger') {
        return true;
      } else {
        return false;
      }
    }
    if(isWeiXin()){
      $('.wenxin_con').on('click',function(e){
        e.stopPropagation();
        this.flag =!this.flag;
        if(this.flag){
          $('.cue_weixin').css("display","block");
        }else{
          $('.cue_weixin').css("display","none");
        }
      });
      $(document).on('click touchstart', function (){
        if($('.cue_weixin').css("display")=='block'){
          $('.cue_weixin').css("display","none");
        }
      });
      $('.cue_qq_con').on('click',function(e){
        e.stopPropagation();
        this.flag =!this.flag;
        if(this.flag){
          $('.cue_qq').css("display","block");
        }else{
          $('.cue_qq').css("display","none");
        }
      });
      $(document).on('click touchstart', function (e){
        if($('.cue_qq').css("display")=='block') {
          $('.cue_qq').css("display", "none");
        }
      });
    }else{
      $('.wenxin_con').on('click',function(e){
        e.stopPropagation();
        this.flag=!this.flag;
        if(this.flag) {
          $('.cue_weixin1').css("display","block");
        }else{
          $('.cue_weixin1').css("display","none");
        }
      });
      $('.cue_qq_con').on('click',function(e){
        e.stopPropagation();
        this.flag=!this.flag;
        if(this.flag) {
          $('.cue_weixin1').css("display","block");
        }else{
          $('.cue_weixin1').css("display","none");
        }
      });
      $(document).on('click touchstart', function (){
        if($('.cue_weixin1').css("display")=='block'){
          $('.cue_weixin1').css("display","none");
        }
      });
    }
  }
</script>
</body>
</html>