<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/adviser_detail.css">
<!-- <script src="{{helper.cdnhost}}/assets/js/jquery.min.js"></script> -->
<body>
<div id="app">
  {% include "m_widget/top/top.html" %}
  <section id="guwenDetails">
    <div class="people-info">
      <img src="{{ helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version) }}" class="people-img" alt="{{adviser_detail.realname}}顾问">
      <div class="people-details">
        <div class="people-name"><strong>{{userinfo.realname}}</strong><span style="color:#ecc580;">{{userinfo.organid | getCity()}}分公司</span></div>
        <div class="people-email">
          {{userinfo.introduce}}
        </div>
        <div class="people-focus">
          <span><svg class="icon" aria-hidden="true">
            <use xlink:href="#icon-fans"></use>
          </svg>
          粉丝<em class="focus-number">{{userinfo.fans_count}}</em></span>
          <span style="margin-right:10px;">
              <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-article"></use>
                </svg>
            文章<em class="focus-number">{{userinfo.article_count}}</em></span>
        </div>
      </div>
    </div>
    <div class="tabContent">
          <ul class="tab-controll">
            <li data-index="0" class="tabs-current">专栏</li>
            <li data-index="1">案例</li>
            <li data-index="2">精选</li>
          </ul>
          <div class="tabitems">
            <div class="items-gruop">
                <ul class="column-news">
                  {% for item in zhuanlanlist.list%}
                  {% if loop.index == 1 %}
                    <li>
                      <a href="{{helper.urlgen('article',item.id | string)}}">
                          <span class="spanpicter" style="background:url({{helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version)}}) no-repeat 0 0;background-size: cover;"></span>
                          <div class="column-list">
                            <h2>{{userinfo.realname}}<span></span></h2> 
                            <p>{{item.title | ellipsis(15) }}</p>
                            <p class="gw-active">{{item.tag_list}}</p>
                          </div>
                      </a>      
                    </li>
                  {%else%}
                  <li>
                    <a href="{{helper.urlgen('article',item.id | string)}}">
                        <span class="spanpicter" style="background:url({{helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version)}}) no-repeat 0 0;background-size: cover;"></span>
                        <div class="column-list">
                          <h2>{{userinfo.realname}}<span></span></h2> 
                          <p>{{item.title | ellipsis(15) }}</p>
                          <p style="color:#999">{{item.tag_list}}</p>
                        </div>
                    </a>      
                  </li>
                  {%endif%}
                  {% endfor %}
                </ul>
            </div>
            <div class="items-gruop" style="display: none;">
              <ul class="column-news">
                  {% for item in caselist.list%}
                  {% if loop.index == 1 %}
                    <li>
                      <a href="{{helper.urlgen('article',item.id | string)}}">
                          <!-- <img src="{{ helper.avaterimg(userinfo.uid, 'small', 0, adviser_detail.status) }}" alt="" class="column-pictuer"> -->
                          <span class="spanpicter" style="background:url({{helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version)}}) no-repeat 0 0;background-size: cover;"></span>
                          <div class="column-list">
                            <h2>{{userinfo.realname}}<span></span></h2> 
                            <p>{{item.title | ellipsis(15) }}</p>
                            <p class="gw-active">{{item.tag_list}}</p>
                          </div>
                      </a>
                    </li>
                  {%else%}
                  <li>
                    <a href="{{helper.urlgen('article',item.id | string)}}">
                        <!-- <img src="{{ helper.avaterimg(userinfo.uid, 'small', 0, adviser_detail.status) }}" alt="" class="column-pictuer"> -->
                        <span class="spanpicter" style="background:url({{helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version)}}) no-repeat 0 0;background-size: cover;"></span>
                        <div class="column-list">
                          <h2>{{userinfo.realname}}<span></span></h2> 
                          <p>{{item.title | ellipsis(15) }}</p>
                          <p style="color:#999;">{{item.tag_list}}</p>
                        </div>
                    </a>
                  </li>
                  {%endif%}
                  {% endfor %}
              </ul>
            </div>
            <div class="items-gruop" style="display: none;">
              <ul class="column-news anli-column">
                  {% for item in jinxuanlist.list%}
                    {% if loop.index == 1 %}
                      <li>
                        <a href="{{helper.urlgen('article',item.id | string)}}">
                            <span class="spanpicter" style="background:url({{helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version)}}) no-repeat 0 0;background-size: cover;"></span>
                            <!-- <img src="{{ helper.avaterimg(userinfo.uid, 'small', 0, userinfo.status) }}" alt="" class="column-pictuer"> -->
                            <div class="column-list">
                              <h2>{{userinfo.realname}}<span></span></h2> 
                              <p>{{item.title | ellipsis(15) }}</p>
                              <p class="gw-active">{{item.tag_list | ellipsis(4)}}</p>
                            </div>
                        </a>      
                      </li>
                    {%else%}
                    <li>
                      <a href="{{helper.urlgen('article',item.id | string)}}">
                          <span class="spanpicter" style="background:url({{helper.avaterimg(userinfo.uid, 'small',userinfo.status, userinfo.version)}}) no-repeat 0 0;background-size: cover;"></span>
                          <!-- <img src="{{ helper.avaterimg(userinfo.uid, 'small', 0, userinfo.status) }}" alt="" class="column-pictuer"> -->
                          <div class="column-list">
                            <h2>{{userinfo.realname}}<span></span></h2> 
                            <p>{{item.title | ellipsis(15) }}</p>
                            <p style="color:#999;">{{item.tag_list}}</p>
                          </div>
                      </a>      
                    </li>
                    {%endif%}
                  {% endfor %}
              </ul>
            </div>
          </div>
    </div>
  </section>
    <!--footer start-->
    {% include "m_widget/footer/footer.html" %}
</div>
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk1.html' %}
<script>
    $(function(){
      $(".tab-controll li").on('click',function(){
        var $dataIndex = $(this).data('index')
        $(".tab-controll li").removeClass('tabs-current')
        $(this).addClass('tabs-current')
        $(".tabitems .items-gruop").eq($dataIndex).show().siblings().hide()
      })
  })
</script>
</body>
</html>
