
  <meta charset="UTF-8">
  <title>{{helper.pageTDK('title', tdk)}}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta content="{{helper.pageTDK('keywords', tdk)}}" name="keywords">
  <meta content="{{helper.pageTDK('description', tdk)}}" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/weui-1.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/base.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/common.css">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/m-jjl.min.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/search.css"/>
  <!--模板css end不要放到其他区域-->
  <script  src="{{helper.cdnhost}}/dep/js/jquery_new_1-2.1.4.js"></script>
  <script  src="{{helper.cdnhost}}/dep/js/jquery_new_1.cookie.js"></script>
  <script  src="{{helper.cdnhost}}/dep/js/fastclick_new_1.js"></script>
  {% if helper.version == 'development' %}
  <script  src="{{helper.cdnhost}}/assets/js/common_dev.js"></script>
  {% elif helper.version == 'production' %}
  <script  src="{{helper.cdnhost}}/assets/js/common_pro.js"></script>
  {% endif %}
  <script src="{{helper.cdnhost}}/assets/js/common_base.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/common.js"></script>
  <script src="{{helper.cdnhost}}/assets/font/iconfont.js"></script>
{# GrowingIO统计 #}
<script type='text/javascript'>
  !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
  gio('init', 'b5eff012adf61f54', {});
  //custom page code begin here
  //custom page code end here	
  gio('send');
</script>