<head>
  <meta charset="UTF-8">
  <title>{{helper.pageTDK('title', tdk)}}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta content="{{helper.pageTDK('keywords', tdk)}}" name="keywords">
  <meta content="{{helper.pageTDK('description', tdk)}}" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/weui.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/base.css">
  <!--模板css start不要放到其他区域-->
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/common.css">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/m-jjl.min.css"/>
 <!--  <link rel="stylesheet" href="{{helper.cdnhost}}/views/m_widget/top/top.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/views/m_widget/footer/footer.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/views/m_widget/top_tab/top_tab.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/views/m_widget/select_pop/select_pop.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/views/m_widget/info.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/views/m_widget/look_more/look_more.css"/> -->
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/search.css"/>
  <!--模板css end不要放到其他区域-->
  <script  src="{{helper.cdnhost}}/dep/js/jquery-2.1.4.js"></script>
  <script  src="{{helper.cdnhost}}/dep/js/jquery.cookie.js"></script>
  <script  src="{{helper.cdnhost}}/dep/js/fastclick.js"></script>
  {% if helper.version == 'development' %}
  <script  src="{{helper.cdnhost}}/assets/js/common_dev.js"></script>
  {% elif helper.version == 'production' %}
  <script  src="{{helper.cdnhost}}/assets/js/common_pro.js"></script>
  {% endif %}
  <script src="{{helper.cdnhost}}/assets/js/common_base.js"></script>
  <script src="{{helper.cdnhost}}/assets/font/iconfont.js"></script>
  <script src="http://mgr.jjl.cn:80/j.jsp?c=1&f=182" type="text/javascript"></script>
</head>
<div style="display: none">
  <input type="hidden" id="pagekey" value="{{tdk.pagekey}}">
</div>