
  <meta charset="UTF-8">
  <title>{{helper.pageTDK('title', tdk)}}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <meta content="{{helper.pageTDK('keywords', tdk)}}" name="keywords">
  <meta content="{{helper.pageTDK('description', tdk)}}" name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/weui-1.min.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/base.css">
  <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/common.css">
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/m-jjl.min.css"/>
  <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/search.css"/>
  <!--模板css end不要放到其他区域-->
  <script  src="{{helper.cdnhost}}/dep/js/jquery_new_1-2.1.4.js"></script>
  <script  src="{{helper.cdnhost}}/dep/js/jquery_new_1.cookie.js"></script>
  <script  src="{{helper.cdnhost}}/dep/js/fastclick_new_1.js"></script>
  {% if helper.version == 'development' %}
  <script  src="{{helper.cdnhost}}/assets/js/common_dev.js"></script>
  {% elif helper.version == 'production' %}
  <script  src="{{helper.cdnhost}}/assets/js/common_pro.js"></script>
  {% endif %}
  <script src="{{helper.cdnhost}}/assets/js/common_base.js"></script>
  <script src="{{helper.cdnhost}}/assets/js/common.js"></script>
  <script src="{{helper.cdnhost}}/assets/font/iconfont.js"></script>
  {# GrowingIO统计 #}
  <script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
    gio('init', 'b5eff012adf61f54', {});
    //custom page code begin here
    //custom page code end here	
    gio('send');
  </script>
  {# 今日头条统计 #}
  <script type="text/javascript">;
    (function(root) {
        root._tt_config = true;
        var ta = document.createElement('script'); ta.type = 'text/javascript'; ta.async = true;
        ta.src = document.location.protocol + '//' + 's1.pstatp.com/bytecom/resource/track_log/src/toutiao-track-log.js';
        ta.onerror = function () {
            var request = new XMLHttpRequest();
            var web_url = window.encodeURIComponent(window.location.href);
            var js_url  = ta.src;
            var url = '//ad.toutiao.com/link_monitor/cdn_failed?web_url=' + web_url + '&js_url=' + js_url + '&convert_id=1602955735512068';
            request.open('GET', url, true);
            request.send(null);
        }
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ta, s);
    })(window);
  </script>
  <script src="https://xiongzhang.baidu.com/sdk/c.js?appid=1612545228957158"></script>

