<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/swiper_new-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/index.css">
</head>
<body>
    {% include "m_widget/top/top.html" %}
    {% include "m_widget/booking/booking.html" %}
	<div id="app">
	    {% include "m_widget/swiper/swiper.html" %}
        {% set countryList = [
        	{
        		name:"美国",
        		imgurl:"home_icon_mg_1.png",
        		id:"1"
        	},
        	{
        		name:"英国",
        		imgurl:"home_icon_yg_1.png",
        		id:"2"
        	},
        	{
        		name:"加拿大",
        		imgurl:"home_icon_jnd_1.png",
        		id:"3"
        	},
        	{
        		name:"澳大利亚",
        		imgurl:"home_icon_adly_1.png",
        		id:"4"
        	},
        	{
        		name:"新西兰",
        		imgurl:"home_icon_xxl_1.png",
        		id:"5"
        	},
        	{
        		name:"日本",
        		imgurl:"home_icon_rb_1.png",
        		id:"51"
        	},
            {
                name:"韩国",
                imgurl:"home_icon_hg_1.png",
                id:"50"
            },
            {
                name:"更多",
                imgurl:"home_icon_gd_1.png",
                id:""
            },
            {
                name:"香港地区",
                imgurl:"home_icon_xg_1.png",
                id:"54"
            },
            {
                name:"俄罗斯",
                imgurl:"home_icon_els_1.png",
                id:"100"
            },
            {
                name:"乌克兰",
                imgurl:"home_icon_wkl_1.png",
                id:"101"
            },
            {
                name:"爱尔兰",
                imgurl:"home_icon_ael_1.png",
                id:"108"
            },
            {
                name:"意大利",
                imgurl:"home_icon_ydl_1.png",
                id:"111"
            },
            {
                name:"西班牙",
                imgurl:"home_icon_xby_1.png",
                id:"112"
            },
            {
                name:"白俄罗斯",
                imgurl:"home_icon_bels_1.png",
                id:"102"
            },
            {
                name:"新加坡",
                imgurl:"home_icon_xjp_1.png",
                id:"52"
            },
            {
                name:"马来西亚",
                imgurl:"home_icon_mlxy_1.png",
                id:"53"
            },
            {
                name:"丹麦",
                imgurl:"home_icon_dm_1.png",
                id:"110"
            },
            {
                name:"德国",
                imgurl:"home_icon_dg_1.png",
                id:"103"
            },
        	{
        		name:"法国",
        		imgurl:"home_icon_fb_1.png",
        		id:"104"
        	},
        	{
                name:"挪威",
                imgurl:"home_icon_nw_1.png",
                id:"105"
            },
        	{
                name:"瑞典",
                imgurl:"home_icon_rd_1.png",
                id:"106"
            },
        	{
        		name:"芬兰",
        		imgurl:"home_icon_fl_1.png",
        		id:"107"
        	},
            {
                name:"荷兰",
                imgurl:"home_icon_hl_1.png",
                id:"109"
            },
        	{
        		name:"瑞士",
        		imgurl:"home_icon_rs_1.png",
        		id:"113"
            },
            {
        		name:"澳门地区",
        		imgurl:"home_icon_am@2x.png",
        		id:"55"
            },
            {
        		name:"奥地利",
        		imgurl:"home_icon_adl@2x.png",
        		id:"114"
        	}
        ] %}
        <ul class="country-ul" data-country="{{country}}" >
            {% for item in countryList %}
                {% if loop.index < 8%}
		       	    <li>
		                <a href="{{helper.urlgen('branch_home','c='+tdk.cityid,'n='+item.id)}}" >
			       	   	   <img src="{{helper.cdnhost}}/assets/img/{{item.imgurl}}" >
			       	   	   <span class="{% if item.id ==country %}active{% endif %}">{{item.name}}</span>
		                </a>
		       	    </li>
                {% elif loop.index ==8  %}
		            <li id="gd" style="{% if country >51 %}display: none;{% else %}display: block;{% endif %}">
		                <a href="javascript:void(0);" >
			       	   	   <img src="{{helper.cdnhost}}/assets/img/{{item.imgurl}}" >
			       	   	   <span>{{item.name}}</span>
		                </a>
		       	    </li>
		       	{% else %}
		            <li class="gd-li" style="{% if country >51 %}display: block;{% endif %}">
		                <a href="{{helper.urlgen('branch_home','c='+tdk.cityid,'n='+item.id)}}" >
		           	   	   <img src="{{helper.cdnhost}}/assets/img/{{item.imgurl}}" >
		           	   	   <span class="{% if item.id ==country %}active{% endif %}">{{item.name}}</span>
		                </a>    
		       	   </li>
		       	{% endif %}
		    {% endfor %}
        </ul>
        <!--国家学历表 -->
        {% set eduList = [
            {'name':'中学'},
            {'name':'本科'},
            {'name':'硕士'},
            {'name':'博士'}
        ] %}
        <div class="team-top" >
            <h2>{{country|getCountry}}留学</h2>
            <ul class="team-top-ul">
                <li class="active">推荐</li>
                {% for item in eduList %}
                    <li>{{item.name}}</li>
                {% endfor %}
            </ul>
            <div class="team-top-down" id="showIOSActionSheet">
                <svg class="icon" aria-hidden="true" >
                    <use xlink:href="#icon-qianjin-copy1"></use>
                </svg>
            </div>
        </div>
        <div class="country-edu-box">
            {% for item in shouye.list %}
                {% import 'm_widget/article/article.html' as article %}
                {{article.article(item.list,helper)}}
            {% endfor %}
        </div>
        <!--footer -->
        {% include "m_widget/footer/footer.html" %}
	</div>
	<!-- ===侧边栏==== -->
    {% include "m_widget/slidebar/slidebar.html" %}
    <!-- ======乐语底栏======= -->
    {% include 'm_widget/funtalk/funtalk.html' %}
    <!--BEGIN actionSheet-->
    <div>
        <div class="weui-mask" id="iosMask" style="display: none"></div>
        <div class="weui-actionsheet" id="iosActionsheet" >
            <div class="tag-content">
                <div class="tag-top">
                    <div class="tag-top-x" id="iosActionsheetCancel">
                        <svg class="icon" aria-hidden="true" >
                            <use xlink:href="#icon-guanbi1"></use>
                        </svg>
                    </div>
                </div>
                <div class="tag-title" >
                    <svg class="icon" aria-hidden="true" style="color:#d51821;" >
                        <use xlink:href="#icon-boshimao1"></use>
                    </svg>
                    <span>学历标签</span>
                </div>
                <ul class="tag-ul">
                    {% for item in eduList %}
                        <li>{{item.name}}</li>
                    {% endfor %}
                </ul>
                <div class="tag-title" >
                    <svg class="icon" aria-hidden="true" style="color:#d51821;" >
                        <use xlink:href="#icon-yueduliang_"></use>
                    </svg>
                    <span>文章标签</span>
                </div>
                {#% set arcType = [
                    {
                    "type": "专业解析"
                    },
                    {
                    "type": "申请规划"
                    },
                    {
                    "type": "留学费用"
                    },
                    {
                    "type": "留学条件"
                    },
                    {
                    "type": "大学排名"
                    },
                    {
                    "type": "行前指导"
                    },
                    {
                    "type": "就业指导"
                    },
                    {
                    "type": "签证指导"
                    },
                    {
                    "type": "留学案例"
                    },
                    {
                    "type": "院校资讯"
                    },
                    {
                    "type": "留学方案"
                    },
                    {
                    "type": "背景提升"
                    },
                    {
                    "type": "海外生活"
                    },
                    {
                    "type": "备考资讯"
                    },
                    {
                    "type": "文书准备"
                    },
                    {
                    "type": "难点解析"
                    },
                    {
                    "type": "省钱攻略"
                    },
                    {
                    "type": "院校百科"    
                    }
                ]%#}
                {%
                   set arcType = [
                   { 'type': '留学初识' },
                   { 'type': '本科选校' },
                   { 'type': '硕士选校' },
                   { 'type': '留学打工' },
                   { 'type': '本硕连读' },
                   { 'type': '留学时间' },
                   { 'type': '接机住宿' },
                   { 'type': '艺术留学' },
                   { 'type': 'QS排名' },
                   { 'type': '留学费用' },
                   { 'type': '大学排名' },
                   { 'type': '留学条件' },
                   { 'type': '留学案例' },
                   { 'type': '专业解析' },
                   { 'type': '签证指导' },
                   { 'type': '就业指导' },
                   { 'type': '申请规划' },
                   { 'type': '行前指导' },
                   { 'type': '省钱攻略' },
                   { 'type': '文书准备' },
                   { 'type': '海外生活' },
                   { 'type': '院校资讯' },
                   { 'type': '背景提升' },
                   { 'type': '留学方案' },
                   { 'type': '难点解析' },
                   { 'type': '备考资讯' },
                   { 'type': '院校百科' }
                 ] 
                %}
                <ul class="tag-arc-ul">
                    {% for item in arcType %}
                        <li>{{item.type}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tag-btn">
                <div class="tag-clear-btn">清空</div>
                <div class="tag-sure-btn">确认</div>
            </div>
        </div>
    </div>
    <script  src="{{helper.cdnhost}}/dep/js/swiper_new_1-3.4.2.jquery.min.js"></script>
    <script >
        $(function(){
	      	var mySwiper = new Swiper('#swiper-container', {
	            //banner图轮播
	            autoplay: 3000,
                autoplayDisableOnInteraction : false,
	            width : window.innerWidth,
	            pagination : '.swiper-pagination',
	            loop:true,
	        });
            $("#gd").on("click",function(event){
                //点击更多事件
                event.stopPropagation();
                $(this).hide();
                $(".gd-li").css("display","block");
                $("body").animate({scrollTop:parseInt($(this).offset().top/2)}, 300);
            });
            $('.team-top-ul li').on('click',function(){
                //切换列表
                $('.team-top-ul li').removeClass('active');
                $(this).addClass('active');
                $('.country-edu-ul').css({'display':'none'});
                $('.country-edu-ul').eq($(this).index()).css({'display':'block'});
            });
            var $iosActionsheet = $('#iosActionsheet');
            var $iosMask = $('#iosMask');
            function hideActionSheet() {
                $iosActionsheet.removeClass('weui-actionsheet_toggle');
                $iosMask.fadeOut(200);
                $("#app").css({'position':'absolute'});
            }
            $iosMask.on('click', hideActionSheet);
            $('#iosActionsheetCancel').on('click', hideActionSheet);
            $("#showIOSActionSheet").on("click", function(){
                $iosActionsheet.addClass('weui-actionsheet_toggle');
                $iosMask.fadeIn(200);
                $("#app").css({'position':'fixed'});
            });
            $('.tag-ul li').on('click',function(){
                $('.tag-ul li').removeClass('active');
                $(this).addClass('active');
            });
            $('.tag-arc-ul li').on('click',function(){
                $('.tag-arc-ul li').removeClass('active');
                $(this).addClass('active');
            });
            $('.tag-clear-btn').on('click',function(){
                $('.tag-ul li').removeClass('active');
                $('.tag-arc-ul li').removeClass('active');
            });
            $('.tag-sure-btn').on('click',function(){
                window.location.href =fn.active_urlgen('articles', 'n=' +$('.country-ul').attr('data-country') ,
                "type=" + $('.tag-ul').find('.active').text(),"tag=" + $('.tag-arc-ul').find('.active').text() );
            });
            window.onscroll= function (event) {
                if ($('#gd').css("display") == 'none' && $(document).scrollTop() > 320) {
                    $('#gd').show();
                    $(".gd-li").css("display","none");
                }
            }
        })
    </script>
</body>
</html>