<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/index.css">
</head>
<body>
    {% include "m_widget/top/top.html" %}
    
	<div id="app">
	    {% include "m_widget/swiper/swiper.html" %}
        {% set countryList = [
        	{
        		name:"美国",
        		imgurl:"mg",
        		id:"1"
        	},
        	{
        		name:"英国",
        		imgurl:"yg",
        		id:"2"
        	},
        	{
        		name:"加拿大",
        		imgurl:"jnd",
        		id:"3"
        	},
        	{
        		name:"澳大利亚",
        		imgurl:"adly",
        		id:"4"
        	},
        	{
        		name:"新西兰",
        		imgurl:"xxl",
        		id:"5"
        	},
        	{
        		name:"韩国",
        		imgurl:"hg",
        		id:"50"
        	},
        	{
        		name:"日本",
        		imgurl:"rb",
        		id:"51"
        	},
            {
                name:"更多",
                imgurl:"gd",
                id:""
            },
        	{
        		name:"法国",
        		imgurl:"fb",
        		id:"104"
        	},
        	{
        		name:"德国",
        		imgurl:"dg",
        		id:"103"
        	},
        	{
        		name:"瑞典",
        		imgurl:"rd",
        		id:"106"
        	},
        	{
        		name:"新加坡",
        		imgurl:"xjp",
        		id:"52"
        	},
        	
        	{
        		name:"爱尔兰",
        		imgurl:"ael",
        		id:"108"
        	},
        	{
        		name:"白俄罗斯",
        		imgurl:"bels",
        		id:"102"
        	},
        	{
        		name:"丹麦",
        		imgurl:"dm",
        		id:"110"
        	},
        	{
        		name:"俄罗斯",
        		imgurl:"els",
        		id:"100"
        	},
        	{
        		name:"芬兰",
        		imgurl:"fl",
        		id:"107"
        	},
        	{
        		name:"马来西亚",
        		imgurl:"mlxy",
        		id:"53"
        	},
        	{
        		name:"挪威",
        		imgurl:"nw",
        		id:"105"
        	},
        	{
        		name:"瑞士",
        		imgurl:"rs",
        		id:"113"
        	},
        	{
        		name:"乌克兰",
        		imgurl:"wkl",
        		id:"101"
        	},
        	{
        		name:"西班牙",
        		imgurl:"xby",
        		id:"112"
        	},
        	{
        		name:"中国香港",
        		imgurl:"xg",
        		id:"54"
        	},
        	{
        		name:"意大利",
        		imgurl:"ydl",
        		id:"111"
        	}
        ] %}
        <ul class="country-ul" >
            {% for item in countryList %}
                {% if loop.index < 8%}
		       	    <li>
		                <a href="{{helper.urlgen('nationrank','n='+item.id)}}" >
			       	   	   <img src="{{helper.cdnhost}}/assets/images/country/home_icon_{{item.imgurl}}.png" >
			       	   	   <span>{{item.name}}</span>
		                </a>
		       	    </li>
                {% elif loop.index ==8  %}
		            <li id="gd">
		                <a href="#" >
			       	   	   <img src="{{helper.cdnhost}}/assets/images/country/home_icon_{{item.imgurl}}.png" >
			       	   	   <span>{{item.name}}</span>
		                </a>
		       	    </li>
		       	{% else %}
		            <li class="gd-li">
		                <a href="{{helper.urlgen('nationrank','n='+item.id)}}" >
		           	   	   <img src="{{helper.cdnhost}}/assets/images/country/home_icon_{{item.imgurl}}.png" >
		           	   	   <span>{{item.name}}</span>
		                </a>    
		       	   </li>
		       	{% endif %}
		    {% endfor %}
        </ul>
        <!--国家学历表 -->
        <div class="team-top" >
            <h2>美国留学</h2>
            <ul class="team-top-ul">
                <li class="active">推荐</li>
                <li>中学</li>
                <li>本科</li>
                <li>研究生</li>
                <li>博士</li>
            </ul>
        </div>
        <ul class="country-edu-ul">
            <li>
                <div class="adviser-touxiang" style="background:url({{helper.cdnhost}}/assets/mockimg/touxiang1.png) no-repeat center;background-size: 60px 60px;">
                </div>
                <div class="adviser-right" >
                    <div class="adviser-name" >
                        <span>一卫</span>
                        <i></i>
                    </div>
                    <div class="adviser-title">
                        2018美国留学新政一栏，现在不看你就亏了！
                    </div>
                    <div class="adviser-label">
                        留学实训
                    </div>
                </div>
            </li>
        </ul>
        <!--footer -->
        {% include "m_widget/footer/footer.html" %}
	</div>
	<!-- ===侧边栏==== -->
    {% include "m_widget/slidebar/slidebar.html" %}
    <!-- ======乐语底栏======= -->
    {% include 'm_widget/funtalk/funtalk.html' %}
    <script  src="{{helper.cdnhost}}/dep/js/swiper-3.4.2.jquery.min.js"></script>
    <script >
        $(function(){
	      	var mySwiper = new Swiper('#swiper-container', {
	            //banner图轮播
	            autoplay: 3000,
                autoplayDisableOnInteraction : false,
	            width : window.innerWidth,
	            pagination : '.swiper-pagination',
	            loop:true,
	        });
	          
            $("#gd").on("click",function(event){
                //点击更多事件
                event.stopPropagation();
                this.flag =!this.flag;
                if(this.flag){
                    $(".gd-li").css("display","block");
                    $("body").animate({scrollTop:parseInt($(this).offset().top/2)}, 300);
                }else{
                    $(".gd-li").css("display","none");
                    $("body").animate({scrollTop:0}, 300);
                }
            });
        
            $(".team-consultation-btn").on("click",function(event){
                //点击咨询
                event.preventDefault();
            	window.location.href="http://jesong.jjl.cn/live/chat.dll?c=1&amp;n="+$(this).attr("data-jobNumber");
            });
        })
    </script>
</body>
</html>