<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/dep/css/swiper_new-3.4.2.min.css">
    <link rel="stylesheet" type="text/css" href="{{helper.cdnhost}}/assets/css/index.css">
</head>
<body>
    {% include "m_widget/top/top.html" %}
	<div id="app">
	    {% include "m_widget/swiper/swiper.html" %}
        {% set countryList = [
        	{
        		name:"美国",
        		imgurl:"home_icon_mg_1.png",
        		id:"1"
        	},
        	{
        		name:"英国",
        		imgurl:"home_icon_yg_1.png",
        		id:"2"
        	},
        	{
        		name:"加拿大",
        		imgurl:"home_icon_jnd_1.png",
        		id:"3"
        	},
        	{
        		name:"澳大利亚",
        		imgurl:"home_icon_adly_1.png",
        		id:"4"
        	},
        	{
        		name:"新西兰",
        		imgurl:"home_icon_xxl_1.png",
        		id:"5"
        	},
        	{
        		name:"日本",
        		imgurl:"home_icon_rb_1.png",
        		id:"51"
        	},
            {
                name:"韩国",
                imgurl:"home_icon_hg_1.png",
                id:"50"
            },
            {
                name:"更多",
                imgurl:"home_icon_gd_1.png",
                id:""
            },
            {
                name:"中国香港",
                imgurl:"home_icon_xg_1.png",
                id:"54"
            },
            {
                name:"俄罗斯",
                imgurl:"home_icon_els_1.png",
                id:"100"
            },
            {
                name:"乌克兰",
                imgurl:"home_icon_wkl_1.png",
                id:"101"
            },
            {
                name:"爱尔兰",
                imgurl:"home_icon_ael_1.png",
                id:"108"
            },
            {
                name:"意大利",
                imgurl:"home_icon_ydl_1.png",
                id:"111"
            },
            {
                name:"西班牙",
                imgurl:"home_icon_xby_1.png",
                id:"112"
            },
            {
                name:"白俄罗斯",
                imgurl:"home_icon_bels_1.png",
                id:"102"
            },
            {
                name:"新加坡",
                imgurl:"home_icon_xjp_1.png",
                id:"52"
            },
            {
                name:"马来西亚",
                imgurl:"home_icon_mlxy_1.png",
                id:"53"
            },
            {
                name:"丹麦",
                imgurl:"home_icon_dm_1.png",
                id:"110"
            },
            {
                name:"德国",
                imgurl:"home_icon_dg_1.png",
                id:"103"
            },
        	{
        		name:"法国",
        		imgurl:"home_icon_fb_1.png",
        		id:"104"
        	},
        	{
                name:"挪威",
                imgurl:"home_icon_nw_1.png",
                id:"105"
            },
        	{
                name:"瑞典",
                imgurl:"home_icon_rd_1.png",
                id:"106"
            },
        	{
        		name:"芬兰",
        		imgurl:"home_icon_fl_1.png",
        		id:"107"
        	},
            {
                name:"荷兰",
                imgurl:"home_icon_hl_1.png",
                id:"109"
            },
        	{
        		name:"瑞士",
        		imgurl:"home_icon_rs_1.png",
        		id:"113"
        	}
        ] %}
        <ul class="country-ul" >
            {% for item in countryList %}
                {% if loop.index < 8%}
		       	    <li>
		                <a href="{{helper.urlgen('branch_home','c='+tdk.cityid,'n='+item.id)}}" >
			       	   	   <img src="{{helper.cdnhost}}/assets/img/{{item.imgurl}}" >
			       	   	   <span class="{% if item.id ==country %}active{% endif %}">{{item.name}}</span>
		                </a>
		       	    </li>
                {% elif loop.index ==8  %}
		            <li id="gd" style="{% if country >51 %}display: none;{% else %}display: block;{% endif %}">
		                <a href="javascript:void(0);" >
			       	   	   <img src="{{helper.cdnhost}}/assets/img/{{item.imgurl}}" >
			       	   	   <span>{{item.name}}</span>
		                </a>
		       	    </li>
		       	{% else %}
		            <li class="gd-li" style="{% if country >51 %}display: block;{% endif %}">
		                <a href="{{helper.urlgen('branch_home','c='+tdk.cityid,'n='+item.id)}}" >
		           	   	   <img src="{{helper.cdnhost}}/assets/img/{{item.imgurl}}" >
		           	   	   <span class="{% if item.id ==country %}active{% endif %}">{{item.name}}</span>
		                </a>    
		       	   </li>
		       	{% endif %}
		    {% endfor %}
        </ul>
        <!--国家学历表 -->
        <div class="team-top" >
            <h2>{{country|getCountry}}留学</h2>
            <ul class="team-top-ul">
                <li class="active">推荐</li>
                <li>中学</li>
                <li>本科</li>
                <li>硕士</li>
                <li>博士</li>
            </ul>
        </div>
        <div class="country-edu-box">
            {% for item in shouye.list %}
                {% import 'm_widget/article/article.html' as article %}
                {{article.article(item.list,helper)}}
            {% endfor %}
        </div>
        <!--footer -->
        {% include "m_widget/footer/footer.html" %}
	</div>
	<!-- ===侧边栏==== -->
    {% include "m_widget/slidebar/slidebar.html" %}
    <!-- ======乐语底栏======= -->
    {% include 'm_widget/funtalk/funtalk.html' %}
    <script  src="{{helper.cdnhost}}/dep/js/swiper_new_1-3.4.2.jquery.min.js"></script>
    <script >
        $(function(){
	      	var mySwiper = new Swiper('#swiper-container', {
	            //banner图轮播
	            autoplay: 3000,
                autoplayDisableOnInteraction : false,
	            width : window.innerWidth,
	            pagination : '.swiper-pagination',
	            loop:true,
	        });
            $("#gd").on("click",function(event){
                //点击更多事件
                event.stopPropagation();
                $(this).hide();
                $(".gd-li").css("display","block");
                $("body").animate({scrollTop:parseInt($(this).offset().top/2)}, 300);
                // this.flag =!this.flag;
                // if(this.flag){
                //     $(".gd-li").css("display","block");
                //     $("body").animate({scrollTop:parseInt($(this).offset().top/2)}, 300);
                // }else{
                //     $(".gd-li").css("display","none");
                //     $("body").animate({scrollTop:0}, 300);
                // }
            });
            $('.team-top-ul li').on('click',function(){
                //切换列表
                $('.team-top-ul li').removeClass('active');
                $(this).addClass('active');
                $('.country-edu-ul').css({'display':'none'});
                $('.country-edu-ul').eq($(this).index()).css({'display':'block'});
            });
            
        })
    </script>
</body>
</html>