<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/common.css">
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/news_detail.css">
<style>

</style>
<body style="background: #f5f5f5;">
<div id="app">
  {% include "m_widget/top/common_top.html" %}
    <!-- 页面主体部分 -->
    <section class="new-details">
      <div class="head_portrait">
        <a href="{{helper.urlgen(userinfo.uid)}}">
          <div class="head_portrait_left" style="background:url({{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version)}}) no-repeat 0 0;background-size:cover"></div>
        </a>
        <div class="head_portrait_centen">
          <p style="">{{userinfo.realname}}</p>
          <i></i>
        </div>
        <div class="head_portrait_right"><div class="adviser-label" style="color:#d51821;">
          {{wenzhangdiye.article_info.tag_list}}
        </div></div>
      </div>
      <h1 id="article_title" >{{wenzhangdiye.article_info.title}}</h1>
      <p class="new-details-p2">
        {{wenzhangdiye.article_info.add_time|shorten(10)}}
      </p>
      <p class="new-details-p1">
        <span>阅读：<em id="detail_views_num">{{wenzhangdiye.article_info.views}}</em></span>
        <span>收藏：<em>{{wenzhangdiye.article_info.favorites}}</em></span>
        <span>评论：<em>{{wenzhangdiye.article_info.comments}}</em></span>
        <span>点赞：<em>{{wenzhangdiye.article_info.votes}}</em></span>
      </p>
      <article class="news-content" style="clear: both" data-img="{{wenzhangdiye.article_info.img_info[0]}}" id="get-share-img" data-introduce ="{{wenzhangdiye.article_info.introduce}}" >
        <p>{{wenzhangdiye.article_info.message | safe}}</p>
      </article>
    </section>

  <!--footer start-->
  {% include "m_widget/footer/common_footer.html" %}
  <!--footer end-->
</div>
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/common_sliderbar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk1.html' %}
<div>
  <input type="hidden" id="detail_id" value="{{article_id}}"/>
</div>
<script src="{{helper.cdnhost}}/assets/js/view_count_min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" ></script>
<script>
  
  function isWeiXin() {
    // 检查微信环境
    var ua = window.navigator.userAgent.toLowerCase();
    if (ua.match(/MicroMessenger/i) == 'micromessenger') {
      return true;
    } else {
      return false;
    }
  }
  // 如果为真，则请求
  if(isWeiXin()){
      // 去获取signature签名
      // console.log($("#get-share-img").attr('data-img'))
      $.ajax({
        type: "POST",
        url:"/wxJssdk/getJssdk",
        dataType: "json",
        data:{
          url:location.href.split('#')[0]
        },
        success: function(result){
          // console.log(result)
          wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: result.appId, // 必填，公众号的唯一标识
            timestamp: result.timestamp, // 必填，生成签名的时间戳
            nonceStr: result.nonceStr, // 必填，生成签名的随机串
            signature: result.signature,// 必填，签名
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
          });
          wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.onMenuShareTimeline({
              title: $('#article_title').text(), // 分享标题
              link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
              imgUrl: $("#get-share-img").attr('data-img')||getImage(), // 分享图标
              success: function () {
                // 用户确认分享后执行的回调函数
              },
              cancel: function () {
                // 用户取消分享后执行的回调函数
              }
            });
            wx.onMenuShareAppMessage({
              title: $('#article_title').text(), // 分享标题
              desc: $("#get-share-img").attr("data-introduce"), // 分享描述
              link: location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
              imgUrl: $("#get-share-img").attr('data-img')||getImage(), // 分享图标
              type: '', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () {
              // 用户点击了分享后执行的回调函数
              }
            });
          });
        },
        error: function(error){
          console.log(error)
        }
      }); 
  }
  function getImage() {
    // 获取图片
    return 'http://'+location.host+'/assets/img/share_logo.png';
  };
</script>
</body>
</html>
