<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/common.css">
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/news_detail.css">
<style>

</style>
<body style="background: #f5f5f5;">
<div id="app">
  {% include "m_widget/top/top.html" %}
    <!-- 页面主体部分 -->
    <section class="new-details">
      <div class="head_portrait">
        <a href="{{helper.urlgen(userinfo.uid)}}">
          <div class="head_portrait_left" style="background:url({{helper.avaterimg(userinfo.uid, 'small', 0,userinfo.version)}}) no-repeat 0 0;background-size:cover"></div>
        </a>
        <div class="head_portrait_centen">
          <p style="">{{userinfo.realname}}</p>
          <i></i>
        </div>
        <div class="head_portrait_right"><div class="adviser-label" style="color:#d51821;">
          {{wenzhangdiye.article_info.tag_list}}
        </div></div>
      </div>
      <h1>{{wenzhangdiye.article_info.title}}</h1>
      <p class="new-details-p2">
        {{wenzhangdiye.article_info.add_time|shorten(10)}}
      </p>
      <p class="new-details-p1">
        <span>阅读：<em>{{wenzhangdiye.article_info.views}}</em></span>
        <span>收藏：<em>{{wenzhangdiye.article_info.favorites}}</em></span>
        <span>评论：<em>{{wenzhangdiye.article_info.comments}}</em></span>
        <span>点赞：<em>{{wenzhangdiye.article_info.votes}}</em></span>
      </p>
      <article class="news-content" style="clear: both">
        <p>{{wenzhangdiye.article_info.message | safe}}</p>
        <!--<img src="{{wenzhangdiye.list.thumb}}" alt="{{wenzhangdiye.list.title}}" class="img-responsive">-->
      </article>
    </section>

  <!--footer start-->
  {% include "m_widget/footer/footer.html" %}
  <!--footer end-->
</div>
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
</body>
</html>
