<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header.html" %}
    <link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/obtain.css">
  </head>
<body>
  <!--顶部tab切换 end-->
  {% include "m_widget/top/common_top.html" %}
  <!-- ===侧边栏==== -->
  {% include "m_widget/slidebar/common_sliderbar.html" %}
  <div class="obtain_ing"></div>
  <div class="js_dialog" id="dialog1" style="opacity: 1;">
    <div class="weui-mask"></div>
    <div class="weui-dialog" style="height:100px;overflow: inherit;">
      <p class="share_con">分享至</p>
      <div class="wenxinx_con"></div>
      <div class="wenxin_con"></div>
      <div class="cue_qq_con"></div>
    </div>
    <div class="cue_weixin">
      <div></div>
    </div>
    <div class="cue_weixin1">
      <div></div>
    </div>
    <div class="cue_qq">
      <div></div>
    </div>
  </div>
</body>
<script>

</script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?7bd472da5fad53e8b1c8b3413b3c1cac";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script src="http://mgr.jjl.cn:80/j.jsp?c=1&f=182" type="text/javascript"></script>
<script src="http://jesong.jjl.cn/js/jjl.js" ></script>
</html>

