<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "m_widget/top/common_top.html" %}
<!--顶部tab切换 end-->
<div id="app" >

</div>
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/common_sliderbar.html" %}
</body>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?7bd472da5fad53e8b1c8b3413b3c1cac";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script src="http://mgr.jjl.cn:80/j.jsp?c=1&f=182" type="text/javascript"></script>
<script src="http://jesong.jjl.cn/js/jjl.js" ></script>
</html>

