<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
{% include "m_widget/top/top.html" %}
<!--顶部tab切换 end-->
<div id="app" >
<!--搜索框 开始-->
<div class="search-container">
    <div class="search-box" >
        <div class="search-bar" >
            <input placeholder="请输入搜索内容" id="search-content">
            <div style="width: 30px;height: 30px;text-align: right;line-height: 30px;" id="search-btn">
            <svg class="icon icon-sousuo" aria-hidden="true">
                <use xlink:href="#icon-sousuo"></use>
            </svg>
            </div>
        </div>
    </div>
    <div class="cancel-btn" id="cancel-btn">取消</div>
</div>
<!--搜索框 结束-->
<div class="so-box" id="so-box">
    <div class="so-tab" id="so-tab">
        <span class="so-tab-item active">资讯</span>
        <span class="so-tab-item">顾问</span>
    </div>
    <div class="so-box-content" id="so-box-content">
        {%
            set news_so = ['美国留学','专业推荐','本科留学','研究生推荐','2017规划','留学攻略','留学规划','院校录取']
        %}
        {%
            set adviser_so = ['英国留学','专业推荐','本科留学','研究生推荐','2017规划','留学攻略','留学规划','院校录取']
        %}
        <div class="so-box-item so-box-news active">{% for item in news_so %}<span>{{item}}</span>{% endfor %}</div>
        <div class="so-box-item so-box-adviser">{% for item in adviser_so %}<span>{{item}}</span>{% endfor %}</div>
    </div>
</div>
</div>
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
</body>
<script src="{{helper.cdnhost}}/assets/js/search.js"></script>
</html>
