<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
</head>
<body>
<input type="hidden" value="{{keyword}}" id="keyword"/>
{% include "m_widget/top/top.html" %}
<!-- ===搜索框==== -->
{% include "m_widget/search/search.html" %}
<div id="app">
    <div class="so_banner" style="width: 100%;height: 175px;"></div>
    <!--资讯列表 start-->
    <div class="news-list" id="news-list">
        {% import "m_widget/news_list/so_news.html" as news %}
        {{ news.so_news(channel_list,helper) }}
    </div>
    <!--资讯列表 end-->

    <!--加载更多 start-->
    {% include "m_widget/load_more/load_more.html" %}
    <!--加载更多 end-->
    <!--最新活动 成功案例  大学排名 start-->
    {%esi helper.include(esikey,'fragment/list_public','c='+tdk.cityid)%}
    <!--footer -->
    <div style="margin-top: 10px;">
        {% import "m_widget/footer/footer.html" as footer %}
        {{footer.footer([],tdk,helper)}}
    </div>
</div>
<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
<script>
    /*加载更多函数*/
    function loadMore (cur_page) {
        var now_page = cur_page+1;
        var per_page = 7;
        var area = $.cookie('currentarea');
        var keyword = $('#keyword').val();
        $.ajax({
            url: '/cmsapi/more_so_news',
            type: 'get',
            datatype: 'json',
            data: {
                "city_id": area,
                "key_word": encodeURI(keyword),
                "order":'add_time',
                "per_page": per_page,
                "page": now_page
            },
            success: function (result) {
                console.log('搜索最新资讯结果', result);
                if (result.code == 0 && result.data.list && result.data.list.length !=0) {
                    addNewslist(result.data.list);
                    $('#load-more-btn').data('cur_page', now_page);
                }
                else {
                    $('#load-more-btn').find('span').text('没有更多内容了');
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('服务器开小差了，请重试');
            }
        })
    }
    /*加载更多拼接字符串函数*/
    function addNewslist (news_list) {
        var news_html = '';
        var typelist = {
            "11": "focus",
            "12": "glue",
            "13": "visa",
            "14": "prereq",
            "15": "cost",
            "16": "interpret"
        };
        $.each(news_list, function (i, newItem, arr) {
            news_html += '<div class="news-item">'
            +'<a href="'+fn.urlgen(typelist[newItem.category_id], newItem.id.toString(), "n=" + newItem.country_id)+'">'
            +'<div class="news-item-left">'
            +'<img src="'+ newItem.thumb +'" alt=""/>'
            +'</div>'
            +'<div class="news-item-right">'
            +'<div class="news-title line-ellpisis">'+ newItem.title +'</div>'
            +'<div class="news-desc line-clamp-2">'+ newItem.introduce +'</div>'
            +'<div class="news-info clearfix">'
            +'<div class="news-time">'+ fn.getTimeYMD(newItem.add_time, 10) +'</div>'
            +'<div class="news-views"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-liulan1"></use></svg><span>'+ newItem.views +'</span></div>'
            +'</div>'
            +'</div>'
            +'</a>'
            +'</div>';
        });
        $('#news-list').append($(news_html));
    }
</script>
</body>
</html>