<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<link rel="stylesheet" href="{{helper.cdnhost}}/assets/css/activity_detail.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=586c90bc5512edfcd7de1696749f8ef7

"></script>
<style>
  .mark{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
    display: none;
    z-index: 1000;
  }
  .mark-box{
    display: none;
    position: fixed;
    left: 0;
    top: 50%;
    padding: 5px 12.5px;
    width: 100%;
    height: 172px;
    z-index: 9999999;
    margin-top: -86px;
  }
</style>
<body>
<div id="app" style="position: relative" >
  {% include "m_widget/top/top.html" %}
  <div class="activity-detail-banner">
    <img src="http://www.jjl.cn/statics//njjlmt/img/slider-20.jpg" alt="">
  </div>
  <div class="activity-zixun">
    <h3 class="line-clamp-2">{{huodongdiye.title}}</h3>
    <p>讲座时间：<span>{{ huodongdiye.start_time | timeStampFormat}}</span></p>
    <p >讲座地点：<span>{{ huodongdiye.address_des }}</span><a class="map-btn" href="http://api.map.baidu.com/marker?location={{ maparr[0] }},{{ maparr[1] }}&title=我的位置&content={{ huodongdiye.address_des }}&output=html"><svg class="icon icon-map" aria-hidden="true">
      <use xlink:href="#icon-ditu"></use>
    </svg></a></p>
    <p>联系电话：<span>{{ huodongdiye.telephone }}</span></p>
    <div class="activity-button">
      <a href='http://jesong.jjl.cn/live/chat.dll?c=1&chatUrl=http%3A%2F%2Flocalhost%3A7001%2Ffs%2Factivityg=246'>立即咨询</a>
    </div>
  </div>
  <!--评估表单 start-->
  <div style="margin:10px 0;">
    {% include "m_widget/evaluate_form/evaluate_form.html" %}
  </div>

  <!--评估表单 end-->
  <div class="activity-content">
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>针对人群</span></h3>
    <p>{{ huodongdiye.crowd }}</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>活动亮点</span></h3>
    <p>{{ huodongdiye.description  }}</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>举办城市</span></h3>
    <p>{{ huodongdiye.hold_city | getCity }}</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>活动时间</span></h3>
    <p>{{ huodongdiye.start_time | getDefaultFormat('YYYY-MM-DD HH:mm')}}&nbsp;&nbsp;至&nbsp;&nbsp;{{ huodongdiye.end_time | getDefaultFormat('YYYY-MM-DD HH:mm')}}</p>
    <h3><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-dian-copy-copy-copy"></use>
    </svg><span>主要内容</span></h3>
    <p>{{ huodongdiye.content | safe }}</p>
  </div>
  <div class="jiangzuoren">
    <div class="jaingzuoren-tit">
      <h3 class="teacher">主讲座人</h3>
      <a class="jiangzuo-btn">在线评估</a>
    </div>
    <dl>
      <dt><img src="{{ huodongdiye.lecture_user[0].thumb}}" alt=""></dt>
      <dd>
        <p class="jiangzuo-name">{{huodongdiye.lecture_user[0].realname}}
          {% if huodongdiye.lecture_user[0].usertype==2 %}
          <span>{{huodongdiye.lecture_user[0].skilful_country}}</span>
          {% else %}
          <span>{{huodongdiye.lecture_user[0].job_number}}</span>
          {% endif %}
        </p>
        <p class="jiangzuo-jianjie line-clamp-3">{{huodongdiye.lecture_user[0].introduce }}</p>
      </dd>
    </dl>
  </div>
  {#<div class="canzhan-yuanxiao">
    <h3 class="canzhan-yuanxiao-tit">
      参展院校
    </h3>
    <div class="yuanxiao">
      {% for item in huodongdiye.school_pic%}
      {% if loop.index<=2 %}
      <a href=""  class="yuanxiao-left">
        <dl>
          <dt><img class="lazy" src="{{item.thumb}}" alt="{{item.title}}"></dt>
          <dd>
            <p class="college-chinese line-clamp-1">{{item.title}}</p>
            <p class="college-english line-clamp-2">{{item.schoolenname}}</p>
          </dd>
        </dl>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>#}
  {% import "m_widget/xiangguan_tuijian/xiangguan_tuijian.html" as xiangguan %}
  {{ xiangguan.tuijianlist2(pageType,tuijian,pageroute,helper) }}
  <!--footer start-->
  {% import "m_widget/footer/footer.html" as footer %}
  {{footer.footer([{'nav_text':'活动列表页','nav_path': 'activity'},{'nav_text':huodongdiye.title,'nav_path': ''}],tdk,helper)}}
  <!--footer end-->
  <div class="mark">
  </div>
  <div class="mark-box">
    {% include "m_widget/evaluate_form/evaluate_form2.html" %}
  </div>
</div>

<!-- ===侧边栏==== -->
{% include "m_widget/slidebar/slidebar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
<script>
  $(".jiangzuo-btn").on("click",function(){
    $(".mark").show();
    $(".mark-box").show();
  })
  $('.mark').on('click',function () {
    console.log('aaaa')
    $(this).hide();
    $(".mark-box").hide();
  })
</script>
</body>
</html>