<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<style>
  .loader{ text-align: center;}
  .loader>span{display: inline-block;margin-bottom: 6px;color: #7b7b7b;}
  .loader>img{ margin: 0 auto;}
</style>
<body>
<div id="app">
  {% include "m_widget/top/common_top.html" %}
  {% include "m_widget/search/search_activity.html" %}
  <div class="app-in">

  <!--活动列表 start-->
  <div class="activity-list" id="activity-list">
    {% include "m_widget/activity_list/activity_list.html" %}
  </div>
  <!--活动列表 end-->
    <div class="loader">
      <span>加载更多...</span>
      <img src="{{helper.cdnhost}}/assets/img/load.gif" alt="">
    </div>
    <!--footer start-->

  <!--footer end-->
    </div>
  {% include "m_widget/footer/common_footer.html" %}
</div>
{% include "m_widget/slidebar/common_sliderbar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
<script>
  $(document).ready(function (){
    var cur_page = 1
    var onOff = false
    $('.loader').hide()
    $(window).scroll(function(){
      var scrollTop = $(window).scrollTop()
      var clientHeight = $(window).height()
      var docHeight = $(document).height()
      if(scrollTop >= (docHeight - clientHeight) - 155) {
        if(!onOff){
          onOff = true
          cur_page++
          setTimeout(loadMore,100)
        }
      }

    });
    function loadMore () {
      var now_page = cur_page;
      var area = $.cookie('currentarea') ? $.cookie('currentarea') : 1;
      var country_id =$(".countryId .focus-on").attr("data-id");
      var crowd =$(".eduType .focus-on").attr("data-id");
      var type =$(".timeType .focus-on").attr("data-id");
      if(crowd=="所有学历"){
          crowd = ""
      }
      $.ajax({
        url: '/cmsapi/more_activity',
        type: 'GET',
        datatype: 'json',
        data: {
          "city_id":area,
          "country":country_id,
          "type":type,
          "crowd":encodeURI(crowd),
          "perpage":3,
          "page":now_page
        },
        beforeSend: function(){
          $('.loader').show()
        },
        success: function (result) {
          var add = '';
          if (result.data.list && result.data.list.length>0) {
            var datalist = result.data.list;
            for (var i = 0;i < datalist.length;i++) {
              add += '<div class="activity-list-content">'+
                '<a href="'+fn.urlgen('activity', datalist[i].id.toString(),'c='+datalist[i].hold_city)+'" style="display: block;">'+
                '<div class="activity-item">'+
                '<div class="activity-item-left">'+
                '<h3>'+fn.sliceShorten(datalist[i].start_time,8,10)+'/<span>'+fn.sliceShorten(datalist[i].start_time,5,7)+'</span></h3>'+
                '<p>'+fn.getCityChinese(datalist[i].hode_city)+'</p>'+
                '</div>'+
                '<div class="activity-item-right">'+
                '<h3>'+datalist[i].title+'</h3>'+
                '<ul>'+
                '<li><svg class="icon" aria-hidden="true">'+
                '<use xlink:href="#icon-shijian1"></use>'+
                '</svg><span>'+datalist[i].start_time+'至'+datalist[i].start_time+'</span></li>'+
                '<li><svg class="icon" aria-hidden="true">'+
                '<use xlink:href="#icon-svg18"></use>'+
                '</svg><span>'+datalist[i].address_des+'</span></li>'+
                '<li><i  class="iconfont">&#xe606;</i><span>'+datalist[i].crowd+'</span></li>'+
                '</ul>'+
                '</div>'+
                '</div>'+
                '</a>'+
                '<div class="booking-tel">'+
                '<p>预约专线：<a href="tel:'+datalist[i].active_telephone+'">'+datalist[i].active_telephone+'</a></p>'+
                '<span>在线预约</span>'+
                '</div>'+
                '</div>'
            }
            $('.activity-list').append($(add));
            onOff = false
          }
           else{
            $('.loader > span').text('数据加载完毕！')
            $('.loader > img').remove()
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert('服务器开小差了，请重试');
        }
      })
    }
  });
</script>

</body>
</html>