<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
<div id="app">
  {% include "m_widget/top/common_top.html" %}
  {% include "m_widget/search/search_activity.html" %}
  <div class="app-in">

  <!--活动列表 start-->
  <div class="activity-list" id="activity-list">
    {% include "m_widget/activity_list/activity_list.html" %}
  </div>
  <!--活动列表 end-->
    <div class="loader">
      <span>加载更多...</span>
      <img src="{{helper.cdnhost}}/assets/img/load.gif" alt="">
    </div>
    <!--footer start-->

  <!--footer end-->
    </div>
  {% include "m_widget/footer/common_footer.html" %}
</div>
{% include "m_widget/slidebar/common_sliderbar.html" %}
<!-- ======乐语底栏======= -->
{% include 'm_widget/funtalk/funtalk.html' %}
<script>
  $(document).ready(function (){
    var cur_page = 1
    var onOff = false
    $('.loader').hide()
    $(window).scroll(function(){
      var scrollTop = $(window).scrollTop()
      var clientHeight = $(window).height()
      var docHeight = $(document).height()
      if(scrollTop >= (docHeight - clientHeight) - 155) {
        if(!onOff){
          onOff = true
          cur_page++
          setTimeout(loadMore,100)
        }
      }

    });
    function loadMore () {
      var now_page = cur_page;
      var area = $.cookie('currentarea') ? $.cookie('currentarea') : 1;
      var uid = $('.people-info').data('uid')
      $.ajax({
        url: '/cmsapi/more_activity',
        type: 'GET',
        datatype: 'json',
        data: {
          "city_id":area,
          "perpage":2,
          "page":now_page
        },
        beforeSend: function(){
          $('.loader').show()
        },
        success: function (result) {

          var add = '';

          if (result.data.list  && result.data.list.length>0) {
            var datalist = result.data.list;
            console.log(result.data)
            for (var i = 0;i < datalist.length;i++) {
              add += '<div class="activity-list-content">'+
                '<a href="" style="display: block;">'+
                  '<div class="activity-item">'+
                    '<div class="activity-item-left">'+
                      '<h3>04/<span>05</span></h3>'+
                      '<p>'+datalist[i].hode_city+'</p>'+
                    '</div>'+
                    '<div class="activity-item-right">'+
                      '<h3>'+datalist[i].title+'</h3>'+
                '<ul>'+
                        '<li><svg class="icon" aria-hidden="true">'+
                          '<use xlink:href="#icon-shijian1"></use>'+
                        '</svg><span>'+datalist[i].start_time+'至'+datalist[i].start_time+'</span></li>'+
                        '<li><svg class="icon" aria-hidden="true">'+
                          '<use xlink:href="#icon-svg18"></use>'+
                        '</svg><span>'+datalist[i].address_des+'</span></li>'+
                        '<li><i  class="iconfont">&#xe606;</i><span>'+datalist[i].crowd+'</span></li>'+
                      '</ul>'+
                    '</div>'+
                  '</div>'+
                '</a>'+
                '<div class="booking-tel">'+
                  '<p>预约专线：<a href="tel:{{ item.active_telephone }}">'+datalist[i].active_telephone+'</a></p>'+
                  '<span>在线预约</span>'+
                '</div>'+
              '</div>'
            }
            $('.activity-list').append($(add));
            onOff = false
          } else {
            $('.loader > span').text('数据加载完毕！')
            $('.loader > img').remove()
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          alert('服务器开小差了，请重试');
        }
      })
    }
  });
</script>
<!--<script>
  /*加载更多函数*/
  function loadMore (cur_page) {
    var now_page = cur_page+1;
    var per_page = 7;
    var area = $.cookie('currentarea');
    $.ajax({
      url: '/cmsapi/more_activity',
      type: 'get',
      datatype: 'json',
      data: {
        "cityid": area,
        "perpage": per_page,
        "page":now_page
      },
      success: function (result) {
        if (result.code == 0 && result.data.list.length !=0) {
          addNewslist(result.data.list);
          $('#load-more-btn').data('cur_page', now_page);
        }
        else {
          $('#load-more-btn').find('span').text('没有更多内容了');
        }
      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        alert('服务器开小差了，请重试');
      }
    })
  }
  /*加载更多拼接字符串函数*/
  function addNewslist (news_list) {
    var activity_html = '';
    $.each(news_list, function (i, newItem, arr) {
      activity_html+='<div class="activity-item">'
          +'<a href="'+fn.urlgen("activity", newItem.id.toString(), "c=" + newItem.organid)+'">'
       +'<div class="activity-item-left">'
        +'<img src="'+newItem.thumb+'" alt="">'
        +'</div>'
        +'<div class="activity-item-right">'
          +'<h3 class="line-clamp-1">【'+fn.getCountryChinese(newItem.country)+'】'+newItem.title+'</h3>'
         +'<ul>'
        +'<li> <svg class="icon" aria-hidden="true">'
          +'<use xlink:href="#icon-shijian"></use>'
           +'</svg><span>'+ fn.getFormatDate(newItem.start_time, 6) +'</span></li>'
           +'<li> <svg class="icon" aria-hidden="true">'
            +'<use xlink:href="#icon-dianhua2"></use>'
            +'</svg><span>'+newItem.telephone+'</span></li>'
           +'<li><svg class="icon" aria-hidden="true">'
             +'<use xlink:href="#icon-dingwei"></use>'
            +'</svg><span class="line-clamp-1">'+newItem.address_des+'</span></li>'
          +'</ul>'
          +'<div class="activity-booking-btn">点击预约</div>'
        +'</div>'
          +'</a>'
      +'</div>'
    });

    $('#activity-list').append($(activity_html));
  }
</script>
<script>
  $(".app-in").on("click",".activity-booking-btn",function(event){
    event.preventDefault();
    var area = $.cookie('currentarea') ? $.cookie('currentarea') : 1;
    window.location = "http://jesong.jjl.cn/live/chat.dll?c="+ area+"&chatUrl="+window.encodeURIComponent(window.location.href)+"g=246"
  });

</script>-->
</body>
</html>