
<div class="footer">
   <!--  <a class="footer-phone" href="tel:4000108000" >
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-shouji"></use>
        </svg>
        <i>400-010-8000</i>
    </a> -->
    <!-- <a class="footer-phone" href="tel:010-6568565" id="footer-fengongsi-phone">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-dianhua1"></use>
        </svg>
        <i id="footer-city-phone">010-6568565</i>
    </a> -->
    <div class="footer-location" data-id="{{tdk.cityid}}" id="footer-location">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-didian-copy"></use>
        </svg>
        <i id="footer-city-address">北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米）</i>
    </div>
   <!--  <a class="footer-phone footer-hankou-phone" style="display: none;margin-top:10px;" href="tel:027-83805656">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-dianhua1"></use>
        </svg>
        <i>027-83805656</i>
    </a> -->
    <div class="footer-location footer-hankou-location" style="display: none;">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-didian-copy"></use>
        </svg>
        <i>武汉市航空路新世界中心C座20层(汉口)</i>
    </div>

    <div class="copy-right">
        <p>&copy;2009金吉列出国留学咨询服务有限公司 版权所有 京ICP备05010035号</p>
        <p>留学投诉电话：4006-213-315 投诉邮箱：315@jjl.cn</p>
    </div>
</div>
<script>
    $(function(){
        var area = $("#footer-location").attr('data-id') || 1; //分公司ID
        if(area == 14){
            // $('#footer-city-phone').text(cityList[50][3]);
            $('#footer-city-address').text(cityList[50][2]);
            // $('.footer-hankou-phone').show();
            $('.footer-hankou-location').show();
            // $("#footer-fengongsi-phone").attr('href','tel:'+cityList[50][3]);
        }else{
            // $('.footer-hankou-phone').hide();
            $('.footer-hankou-location').hide();
            // $('#footer-city-phone').text(cityList[area][3]);
            $('#footer-city-address').text(cityList[area][2]);
            // $("#footer-fengongsi-phone").attr('href','tel:'+cityList[area][3]);
        }
       
    })
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7bd472da5fad53e8b1c8b3413b3c1cac";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script src="http://mgr.jjl.cn:80/j.jsp?c=1&f=182" type="text/javascript"></script>
<script src="http://jesong.jjl.cn/js/jjl.js" ></script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>