.footer{
    background: #000 url("../../../assets/img/friend-btn-bj.png");
    background-size: 100% 100%;
    padding: 20px 10px 15px;
    margin-bottom: 49px;
    margin-top: 10px;
}
.footer-phone{
    display: flex;
}
.footer-phone svg{
    color:#999;
}
.footer-phone i{
    font-size: 13px;
    line-height: 13px;
    color:#ecc580;
    margin-bottom: 15px;
    margin-left: 10px;
}
.footer-location{
    display: flex;
}
.footer-location svg{
    color:#999;
}
.footer-location i{
    font-size: 12px;
    color:#999;
    margin-left: 10px;
    line-height: 20px;
}

.copy-right {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    padding-left:20px;
}

