
<div class="footer">
    <a class="footer-phone" href="tel:4000108000" >
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-shouji"></use>
        </svg>
        <i>400-010-8000</i>
    </a>
    <a class="footer-phone" href="tel:010-6568565">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-dianhua1"></use>
        </svg>
        <i id="footer-city-phone">010-6568565</i>
    </a>
    <div class="footer-location" >
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-didian-copy"></use>
        </svg>
        <i id="footer-city-address">北京市建国门外大街永安东里米阳大厦5层（永安里地铁C口向南50米）</i>
    </div>
    <div class="copy-right">
        <p>&copy;2009金吉列出入境咨询服务有限公司 版权所有 京ICP备05010035号</p>
        <p>移民投诉电话：4006-213-315 投诉邮箱：315@jjl.cn</p>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7bd472da5fad53e8b1c8b3413b3c1cac";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script src="http://mgr.jjl.cn:80/j.jsp?c=1&f=182" type="text/javascript"></script>
<script src="http://jesong.jjl.cn/js/jjl.js" ></script>