/*
.activity-list{
  width: 100%;
  padding:5px 10px 0;
  background: #ffffff;
}
.activity-list  .activity-item{
  padding:10px 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}
.activity-item a{
  display: flex;
  width: 100%;
}
.activity-item-left{
  width: 80px;
  height: 80px;
  margin-right: 10px;
  overflow: hidden;
}
.activity-item-left img{
  width: 100%;
  display: block;
  height: 100%;
}
.activity-item-right{
  position: relative;
  flex: 1;
}
.activity-item-right h3{
  font-size: 14px;
  color: #333333;
  line-height: 14px;
  height: 14px;
  text-indent: -5px;
}
.activity-item-right h3  a{
  color: #333333;
}
.activity-item-right ul{
  margin-left: 3px;
}
.activity-item-right li{
  font-size: 12px;
  color:#999999;
  margin-top: 9px;
  height: 13px;
  line-height: 13px;
}
.activity-item-right li span{
  font-size: 13px;
  padding-left:10px;
}
.activity-item-right li{
  display: flex;
}
.activity-item-right li span{
  flex: 1;
}
.activity-item-right li:nth-child(3)  span{
  padding-right:70px;
}
.activity-booking-btn{
  width: 60px;
  height: 20px;
  background: #D51821;
  color:#ffffff;
  position: absolute;
  right:0;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.activity-list .activity-title{
  color:#333333;
  font-size: 15px;
  border-left:2px solid  #D51821;
  padding-left:10px;
 height: 15px;
  margin:14.5px 0;
  line-height: 15px;
}
.activity_home{
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-top:10px;
}
.activity_home h3{
  color:#333333;
}
.activity_home_img{
  width: 100%;
  height: 175px;
}
.activity_home_img img{
  width: 100%;
  height: 100%;
}
.activity_home_title{
  margin-top:10px;
}
.activity_home_title a{
  color:#333333;
}

.activity_home_content{
  position: relative;
}
.activity_home_content li{
  color:#999999;
  font-size: 12px;
  margin-top: 9px;
  height: 13px;
  line-height: 13px;
  display: flex;
}

.activity_home_content li span{
  font-size: 13px;
  padding-left:10px;
  flex:1;
}
.activity-more{
  text-align: center;
  font-size: 13px;
  padding:15px 0;
  color:#666666;
}
.activity-more a{
  color:#666666;
}*/
