<style>
    .evaluate-form-container{
        width: 100%;
        background-color: #fff;
        padding: 20px 0;
        position: relative;
    }
    .evaluate-form{
        width: 310px;
        margin: 0 auto;
    }
    .evaluate-form .form-body .form-bar {
        margin-bottom: 15px;
        display: flex;
    }
    .evaluate-form .form-body .input-item {
        padding: 0 10px;
        width: 150px;
        height: 29px;
        border: 1px solid #ecc580;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    .evaluate-form .form-body .input-item.error-item {
        border: 1px solid #d52821;
    }
    .evaluate-form .form-body .input-item-space {
        margin-left: 10px;
    }
    .evaluate-form .form-body .input-item.getEvaCode{
        color: #D7AA58;
    }
    .evaluate-form .form-body .input-item .need-icon {
        /*height: 29px;*/
        /*line-height: 29px;*/
        display: flex;
        width: 6px;
        font-size: 6px;
        color: #d52821;
        margin-right: 10px;
    }
    .evaluate-form .form-body .input-item input {
        display: flex;
        width: 1px;
        flex: 1;
        height: 29px;
        line-height: 29px;
    }
    .evaluate-form .evaluate-btn{
        width: 310px;
        height: 29px;
        text-align: center;
        line-height: 29px;
        margin: 20px auto 0;
        color: #fff;
        font-size: 15px;
        background-color: #ecc580;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .successForm {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        text-align: center;
        font-size: 16px;
        color: #333;
        line-height: 16px;
        display: none;
    }
    .successForm img{
        margin: 40px auto 27.5px;
        width: 72px;
    }
</style>
<div class="evaluate-form-container">
    <div class="evaluate-form" id="evaluate-form">
        <div class="form-body">
            <div class="form-bar clearfix">
                <div class="input-item">
                    <span class="need-icon">*</span><input type="text" placeholder="请输入姓名" id="u_name"/>
                </div>
                <div class="input-item input-item-space">
                    <span class="need-icon">*</span><input type="text" placeholder="请输入手机号" id="u_phone"/>
                </div>
            </div>
            <div class="form-bar clearfix">
                <div class="input-item">
                    <span class="need-icon">*</span><input type="text" placeholder="请输入验证码" id="u_code"/>
                </div>
                <div class="input-item  input-item-space getEvaCode" id="getEvaCode">获取验证码</div>
            </div>
        </div>
        <div class="evaluate-btn" id="evaluate-btn">立即在线评估</div>
    </div>
    <div class="successForm" id="successForm">
        <img src="{{helper.cdnhost}}/assets/img/success.png" alt="">
        <div>您的信息已成功提交！</div>
    </div>
</div>
<!--提示弹框 start-->
<div id="dialogs">
    <div class="js_dialog" id="phoneInvalid" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">请输入正确的手机号</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
            </div>
        </div>
    </div>
<!--    <div class="js_dialog" id="error" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">获取验证码有误，请重新获取</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">好的</a>
            </div>
        </div>
    </div>-->
<!--    <div class="js_dialog" id="success" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">获取成功</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">好的</a>
            </div>
        </div>
    </div>-->
<!--    <div class="js_dialog" id="successForm" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">老师将为您做专业评估</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">好的</a>
            </div>
        </div>
    </div>-->
</div>
<!--提示弹框 end-->
<script>
//关闭提示弹框
$('#dialogs').on('click', '.weui-dialog__btn', function(){
    $(this).parents('.js_dialog').fadeOut(200);
});
//倒计时
var cutTimer;
var phone_check = {
    phone: function(phone){
        if(!/^1(3|4|5|7|8)\d{9}$/.test(phone)){
            return false;
        }
        return true;
    }
};
function countDown () {
    $('#getEvaCode').unbind('click');
    var countDownTime = 60;
    cutTimer = window.setInterval(function () {
        countDownTime--;
        $('#getEvaCode').html(countDownTime+'s');
        if (countDownTime <= 0) {
            clearTimer(cutTimer);
        }
    }, 1000)
}
function clearTimer (timer) {
    clearInterval(timer);
    $('#getEvaCode').html('重新获取');
    //获取验证码点击绑定
    $('#getEvaCode').bind('click',function () {
        getEvaCodeFn();
    })
}
//获取验证码事件
function getEvaCodeFn () {
    var phone = $('#u_phone').val().trim();
    if (!phone_check.phone(phone)) {
        $('#u_phone').focus();
        return false;
    }
    else {
        countDown();
    }
    //获取验证码
    $.ajax({
        url: ajaxUrlPrefix.nodeapi+'/ucapi/ucapi_agent',
        type:'get',
        data:{
            m: 'sendcode',
            phone:phone
        },
        dataType:'json',
        success:function(msg){
            console.log(msg);
            if(msg.code === 0){
               $('#success').show(200);
            } else {
                $('#getEvaCode').html('重新获取');
            }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
            clearTimer(cutTimer);
        }
    });
}
//获取验证码点击绑定
$('#getEvaCode').bind('click',function () {
    getEvaCodeFn();
});
var assessment = function (name, phone) {
    $.ajax({
        url:  ajaxUrlPrefix.nodeapi+'/cmsapi/assessment',
        type:'POST',
        data:{
            name: name,
            phone: phone
        },
        dataType:'json',
        success:function(msg){
            if(msg.code === 0){
                $('#successForm').show();
                $("#u_name").val('');
                $('#u_phone').val('');
                $('#u_code').val('');
                clearInterval(cutTimer);
                $('#getEvaCode').html('获取验证码');
                setTimeout(function () {
                    $('#successForm').hide();
                }, 3000)
            } else {
                alert(msg.message);
            }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status);
            console.log(textStatus);
            console.log(errorThrown);
        }
    });
}
var checkCode = function (phoneCode, u_phone, u_name) {
    $.ajax({
        url: ajaxUrlPrefix.nodeapi+'/ucapi/ucapi_agent',
        type:'get',
        data:{
            m: 'check_code',
            code: phoneCode,
            phone: u_phone
        },
        dataType:'json',
        success:function(msg){
            console.log(msg);
            if(msg.code === 0){
                assessment(u_name, u_phone);
            } else {
                alert(msg.message);
            }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
            console.log("获取失败，请重试！CODE:"+XMLHttpRequest.status)
        }
    });
};
//立即评估点击绑定
$('#evaluate-btn').bind('click', function () {
    var name = $('#u_name').val().trim();
    var phone = $('#u_phone').val().trim();
    var code = $('#u_code').val().trim();
    if(name==''){
        //判断姓名
        $("#u_name").val('请输入姓名').focus();
        return false;

    }
    if(!phone_check.phone(phone)){
        //判断手机号
        $('#u_phone').html("请输入手机号").focus();
        return false;
    };
    if (code == '') {
        $('#u_code').focus();
        return false;
    }
    else {
        checkCode(code, phone, name);
    }
})
</script>