<!-- ======侧边栏===== -->
<div class="sidebar-box" >
  <div class="mask" >
  </div>
  <div class="sidebar" >
    <div class="sidebar-logo" >
    </div>
    <div class="sidebar-nav" >
      <a class="sidebar-nav-title" href="{{helper.urlgen('branch_home','c='+city_id)}}">
        <svg class="icon sidebar-liuxue-icon" aria-hidden="true">
          <use xlink:href="#icon-boshimao1"></use>
        </svg>
        <span style="color:#d51821;">金吉列留学</span>
      </a>
    </div>
    <div class="sidebar-nav" >
      <a class="sidebar-nav-title" href="{{helper.urlgen('about')}}">
        <svg class="icon sidebar-about-icon" aria-hidden="true">
          <use xlink:href="#icon-wenda"></use>
        </svg>
        <span >关于金吉列</span>
      </a> 
    </div>
  </div>
</div>
<script >
  //侧边栏
  $(".sidebar").height($(window).height());
  $(".header-Catalog").on("click",function(){  
    document.querySelector("#app").style.position="fixed";
    document.querySelector("#app").style.animation="appLeft 0.3s forwards";
    document.querySelector("#app").style.webkitAnimation="appLeft 0.3s forwards";
    document.querySelector(".header").style.animation="appLeft 0.3s forwards";
    document.querySelector(".header").style.webkitAnimation="appLeft 0.3s forwards";
    // document.querySelector(".search-box").style.animation="appLeft 0.3s forwards";
    // document.querySelector(".search-box").style.webkitAnimation="appLeft 0.3s forwards";
    document.querySelector(".sidebar-box").style.animation="sidebarLeft 0.3s forwards";
    document.querySelector(".sidebar-box").style.webkitAnimation="sidebarLeft 0.3s forwards";    
  });
  $(document).on('swipeLeft',function(){
    document.querySelector("#app").style.position="absolute";
    document.querySelector("#app").style.animation="appRight 0.3s forwards";
    document.querySelector("#app").style.webkitAnimation="appRight 0.3s forwards";
    document.querySelector(".sidebar-box").style.webkitAnimation="sidebarRight 0.3s forwards";
    document.querySelector(".sidebar-box").style.animation="sidebarRight 0.3s forwards";
  });
  $(".mask").on("click",function(){
    document.querySelector("#app").style.position="absolute";
    document.querySelector("#app").style.animation="appRight 0.3s forwards";
    document.querySelector("#app").style.webkitAnimation="appRight 0.3s forwards";
    document.querySelector(".header").style.animation="appRight 0.3s forwards";
    document.querySelector(".header").style.webkitAnimation="appRight 0.3s forwards";
    // document.querySelector(".search-box").style.animation="appRight 0.3s forwards";
    // document.querySelector(".search-box").style.webkitAnimation="appRight 0.3s forwards";
    document.querySelector(".sidebar-box").style.animation="sidebarRight 0.3s forwards";
    document.querySelector(".sidebar-box").style.webkitAnimation="sidebarRight 0.3s forwards";
  });
</script>