.activity-detail-banner{
  width: 100%;
  height: 175px;
  background: #00ff00;
}
.activity-detail-banner img{
  width: 100%;
  height:100%;
}
.activity-zixun{
  background:#ffffff;
  margin-top: 10px;
  padding-bottom: 15px;
}
.activity-zixun h3{
  font-size: 16px;
  color:#333333;
  text-align: center;
  line-height: 36px;
  padding:10px 40px 0;
  font-weight: bold;
}
.activity-zixun p{
  margin-top:15px;
  padding:0 73px;
  font-size: 13px;
  color:#333333;
}
.activity-zixun p:nth-child(2){
  line-height: 20px;
  padding-top: 11.5px;;
}
.activity-zixun .icon-map{
  margin-left: 15px;
  font-size:20px;
  line-height: 20px;
}
.activity-button{
  margin-top:20px;
  height: 20px;
  text-align: center;
}
.activity-button a{
  background: #D51821;
  color:#ffffff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  padding:4px 106px;
}
.activity-detail-banner{
  width: 100%;
  height: 175px;
  background: #00ff00;
}
.activity-detail-banner img{
  width: 100%;
  height:100%;
}
.activity-zixunxin{
  background:#ffffff;
  margin-top: 10px;
  padding-bottom: 20px;
}
.activity-zixunxin h3{
  font-size: 16px;
  color:#333;
  line-height: 24px;
  text-align: center;
  padding:18px 40px 6px;
}
.activity-zixunxin p{
  padding:1px 73px;
  font-size: 13px;
  color:#666;
  line-height: 26px;
}
.activity-zixunxin p:nth-child(2){
  line-height: 24px;
}
.activity-zixunxin .icon-map{
  margin-left: 15px;
  font-size:20px;
  line-height: 20px;
}
.activity-button-xin{
  margin-top:15px;
  height: 20px;
  text-align: center;
}
.activity-button-xin a{
  background: #D51821;
  color:#ffffff;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  border-radius: 4px;
  padding:6px 39px;
}
.activity—title {
  font-size: 22px;
}
.activity-content{
  background: #ffffff;
  margin-top:10px;
  padding:0 20px 15px;
}
.activity-content h3{
  font-size: 13px;
  color:#D51821;
  padding-top:15px;
  font-weight: bold;
}
.activity-content h3 .icon{
  font-size: 16px;
  padding-right:5px;
}
.activity-content p{
  color:#666666;
  font-size: 13px;
  margin-top: 5px;
  line-height: 21px;
  margin-left:14px;
}
.jiangzuoren{
  margin-top:10px;
}
.jiangzuoren{
  background: #ffffff;
  padding:12.5px 10px 15px;
}
.jaingzuoren-tit{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.jaingzuoren-tit .teacher{
  flex:1;
  margin-top: 2.5px;
  height:15px;
  font-size: 15px;
  border-left:2.5px solid #D51821;
  line-height: 15px;
  padding-left: 10px;
  color:#333333;
}
.jaingzuoren-tit .jiangzuo-btn{
  width: 60px;
  height: 20px;
  background: #D51821;
  color:#ffffff;
  text-align: center;
  line-height:20px;
  font-size: 12px;;
}
.jiangzuoren dl{
  padding-top:12.5px;
  width: 100%;
  display: flex;
}
.jiangzuoren dl dt{
  width:70px;
  height: 88px;
  margin-right: 15px;
  margin-left: 5px;
}
.jiangzuoren  dt img{
  width: 100%;
  height: 100%;
}
.jiangzuoren dl dd{
  flex: 1;
}
.jiangzuoren dl dd .jiangzuo-name{
  font-size: 15px;
  color:#333333;
}
.jiangzuoren  .jiangzuo-name span{
  font-size: 13px;
  margin-left:10px;
}
.jiangzuo-jianjie{
  font-size: 13px;
  line-height: 18px;
  margin-top: 12.5px;
  color:#666666;
}
.canzhan-yuanxiao{
  margin-top:10px;
  background: #ffffff;
  padding:15px 10px 12.5px;
}
.canzhan-yuanxiao .canzhan-yuanxiao-tit{
  height:15px;
  font-size: 15px;
  border-left:2.5px solid #D51821;
  line-height: 15px;
  padding-left:10px;
  color:#333333;
}
.canzhan-yuanxiao .yuanxiao{
  width: 100%;
  display: flex;
  margin-top:15px;
}
.canzhan-yuanxiao .yuanxiao a{
  flex: 1;
  display: block;
}
.yuanxiao-left{
  margin-right: 10px;
}
.yuanxiao dl {
  width: 100%;
  margin:0 auto;
}
.yuanxiao dl dt{
  margin:0 auto;
}
.yuanxiao dl dt img{
  width: 100%;
}
.yuanxiao .college-chinese{
  font-size: 14px;
  color:#333333;
  height: 14px;
  margin-top: 10px;;
  margin-bottom: 7.5px;
  line-height: 14px;;
}
.yuanxiao .college-english{
  font-size: 13px;
  color:#666666;
  line-height: 18px;
}
.activity-biaoti {
  font-size: 16px;
  color: #333;
  margin-left: 7px;
  float: left;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.fenxiang_con{
  background: #fff;
  margin-bottom: 49px;
  height: 65px;
  display: flex;
  justify-content: space-around;
}
.fenxiang_con img{
width: 40px;
  height: 40px;
  display: block;
}
.header {
  justify-content: flex-start;
}
.header-yuyue {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.cue_weixin {
  position: fixed;
  right: 50%;
  top:50%;
  margin-right: -121px;
  margin-top: -42px;
  display: none
}
.cue_weixin img {
  width: 242px;
  height: 85px;
}
.cue_weixin1 {
  position: fixed;
  right: 50%;
  top:50%;
  margin-right: -121px;
  margin-top: -42px;
  display: none;
}
.cue_weixin1 img {
  width: 242px;
  height: 85px;
}
.cue_qq {
  position: fixed;
  right: 50%;
  top:50%;
  margin-right: -121px;
  margin-top: -42px;
  display: none
}
.cue_qq img {
  width: 242px;
  height: 85px;
}
.bdshare-button-style0-16 .bds_tsina{
  width: 40px;
  height: 40px;
  background:url(../img/xinlang.png) no-repeat;
  background-size: cover;
  display: block;
}
.header-jjl_xin {
  background: #d51821;
  color: #fff;
  width: 75px;
  height: 20px;
  border-radius: 25px;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
}
