#guwenDetails{margin-top:10px;margin-bottom:10px;padding:0 10px;padding-bottom:10px;background-color:#fff;}
.people-info{display:flex;display:-webkit-flex;width:100%;max-height:175px;min-height:175px;background:url(../../../assets/img/people-bg.png) no-repeat;background-size:100% 100%;}
.people-info:after{display:block;padding-top:46%;content:"";}
.people-info .people-img{box-sizing:border-box;margin-top:14px;margin-left:5%;width:117px;height:147px;border:2px solid #fff;}
.tabContent .tab-controll{position:relative;display:flex;margin-bottom:15px;height:49px;text-align:center;font-size:0;}
.column-news li:after,.tabContent .tab-controll:after{position:absolute;bottom:0;left:0;display:block;width:100%;border-bottom:1px solid #e5e5e5;content:"";transform:scaleY(.5);transform-origin:0 0;}
.tabContent .tab-controll li{position:relative;height:49px;color:#333;font-size:13px;line-height:49px;}
.tabContent .tab-controll li.tabs-current:after{position:absolute;bottom:0;left:50%;display:block;margin-left:-20px;width:40px;height:3px;background-color:#d51821;content:"";}
.tabContent .tab-controll li:nth-of-type(1),.tabContent .tab-controll li:nth-of-type(3){width:55px;}
.tabContent .tab-controll li:nth-of-type(2){flex:1;}
.items-gruop>p{margin-right:5px;margin-bottom:10px;margin-left:5px;color:#666;text-align:justify;font-size:13px;line-height:22px;}
.items-gruop p:nth-of-type(1),.items-gruop p:nth-of-type(2){margin-top:3px;}
.items-gruop .gw-active{display:inline-block;padding:2px 4px;max-width:100%;min-width:72px;border-radius:4px;background:#fdf3f4;color:#d51821;}
.items-gruop h2{color:#333;}
.items-gruop h2 span{display:inline-block;margin-left:5px;width:14px;height:14px;background:url(/assets/img/v.png) no-repeat 0 0;background-size:cover;vertical-align:unset;}
.items-gruop a{display:flex;color:#666;}
.people-name strong{margin-right:10px;}
.items-gruop li{margin-bottom:10px;padding-bottom:10px;}
.spanpicter{display:inline-block;width:61px;height:61px;-webkit-border-radius:50%;border-radius:50%;}
.items-gruop .column-pictuer{margin-right:10px;width:61px;height:61px;border-radius:50%;}
.column-news li{position:relative;display:flex;padding:10px 0;}
.column-news li:nth-of-type(1){padding-top:0;}
.column-news h2{overflow:hidden;margin-bottom:5px;color:#333;text-overflow:ellipsis;white-space:nowrap;font-size:13px;}
.column-news h2+p{display:-webkit-box;overflow:hidden;margin-bottom:5px;color:#666;font-size:13px;line-height:20px;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.anli-item .anli-legend:nth-of-type(1){overflow:hidden;width:220px;text-overflow:ellipsis;white-space:nowrap;}
.column-news .details-zllist{display:flex;color:#999;justify-content:space-between;}
.people-details{margin:14px 10px 8px 0;margin-left:5%;padding-left:9px;height:147px;background:hsla(0,0%,100%,.12);color:#fff;flex:1;}
.people-details .people-name{margin-bottom:5px;padding-top:5px;}
.people-coutry span{height:20px;font-size:9pt;line-height:20px;}
.people-focus{display:flex;font-size:13px;justify-content:space-between;}
.people-focus .focus-number{margin-left:3px;color:#ecc580;}
.column-list{margin-left:8px;}
.column-list h2{font-size:12px;}
.people-email{display:-webkit-box;overflow:hidden;margin-bottom:5px;font-size:12px;line-height:18px;-webkit-box-orient:vertical;-webkit-line-clamp:5;}
.tabContent .tab-controll li a{color:#333;}
.loader{ text-align: center;}
.loader>span{display: inline-block;margin-bottom: 6px;color: #7b7b7b;}
.loader>img{ margin: 0 auto;}
