
.country-ul{
	/*display: flex;
	flex-wrap: wrap;*/
	background:#fff;
	margin:10px 0;
    padding-bottom: 15px;
	
}
.country-ul:after {

      content: "";
      display: block;
      clear: both;
   }

.country-ul li{
	margin-top: 18px;
	width:25%;
	float:left;
}
.country-ul li a{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
}

.country-ul li span{
	display: block;
	font-size: 10px;
	color:#333;
	margin-top:10px;
}
.country-ul li span.active{
    color:#d51821;
}
.country-ul li img{
	width:40px;
	height:32px;
}

.country-ul li.gd-li{
	display: none;
}

.team-top{
    display: flex;
    align-items: center;
    position: relative;
    background:#fff;
    padding:0 10px;
    height:47px;
}
.team-top h2{
    height:17px;
    border-left:2.5px solid #d51821;
    /*padding:0 10px 0 7px;*/
    padding: 0 0 7px 10px;
    font-size: 15px;
    color:#333;
    font-weight: bold;
    line-height: 17px;
    flex: 1;
}
.team-top-ul{
    display: flex;
    height:100%;
}
.team-top-ul li{
    height:100%;
    margin-left: 20px;
    color:#666;
    font-size: 12px;
    line-height: 47px;
}
.team-top-ul li.active{
    border-bottom: 2px solid #d51821;
    color:#d51821;
}
.team-top-down{
    margin-left:20px;
    display: flex;
    align-items: center;
    height:100%;
}
.tag-content{
    padding:10px 10px 0;
    background:#f8f8f8;
}
.tag-top{
    display: flex;
    justify-content: flex-end;
}
.tag-title{
    margin-bottom: 19px;
}
.tag-title span{
    color:#333;
    font-size: 15px;
    margin-left:10px;
}
.tag-ul{
    margin-bottom:30px;
    display: flex;
}
.tag-ul li{
    flex:1;
    display: flex;
    font-size: 14px;
    color:#999;
    border:1px solid #dcdcdc;
    justify-content: center;
    align-items: center;
    height:28px;
    margin-left:10px;
    border-radius: 6px;
}
.tag-ul li:nth-of-type(1){
    margin-left:0;
}
.tag-ul li.active{
    background:#d51821;
    color:#fff;
    border:none;
}
.tag-arc-ul{
    margin-bottom:20px;
    display: flex;
    flex-wrap: wrap;
}
.tag-arc-ul li{
    display: flex;
    font-size: 14px;
    color:#999;
    border:1px solid #dcdcdc;
    justify-content: center;
    align-items: center;
    height:28px;
    margin-left:10px;
    border-radius: 6px;
    width:22.8%;
    margin-bottom: 10px;
}
.tag-arc-ul li.active{
    background:#d51821;
    color:#fff;
    border:none;
}
.tag-arc-ul li:nth-of-type(4n+1){
    margin-left:0;
}
.tag-btn{
    display: flex;
    height:49px;
}
.tag-clear-btn{
    flex:1;
    background:#e5e5e5;
    color:#333;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tag-clear-btn:active {
    color: rgba(0, 0, 0, 0.6);
    background-color: #e5e5e5;
}
.tag-sure-btn{
    flex:1;
    background:#d51821;
    color:#fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}