
.country-ul{
	/*display: flex;
	flex-wrap: wrap;*/
	background:#fff;
	margin:10px 0;
    padding-bottom: 15px;
	
}
.country-ul:after {

      content: "";
      display: block;
      clear: both;
   }

.country-ul li{
	margin-top: 18px;
	width:25%;
	float:left;
}
.country-ul li a{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
}

.country-ul li span{
	display: block;
	font-size: 10px;
	color:#333;
	margin-top:10px;
}
.country-ul li span.active{
    color:#d51821;
}
.country-ul li img{
	width:40px;
	height:32px;
}

.country-ul li.gd-li{
	display: none;
}

.team-top{
    display: flex;
    align-items: center;
    position: relative;
    background:#fff;
    padding:0 10px;
    height:47px;
}
.team-top h2{
    height:17px;
    border-left:2.5px solid #d51821;
    padding:0 10px 0 7px;
    font-size: 15px;
    color:#333;
    font-weight: bold;
    line-height: 17px;
    flex: 1;
}
.team-top-ul{
    display: flex;
    height:100%;
}
.team-top-ul li{
    height:100%;
    margin-left: 20px;
    color:#666;
    font-size: 12px;
    line-height: 47px;
}

.team-top-ul li.active{
    border-bottom: 2px solid #d51821;
    color:#d51821;
}
.country-edu-ul{
    padding:0 10px;
    background:#fff;
}
.country-edu-ul li{
    padding:10px 0;
    border-top: 1px solid #eee;
    display: flex;
}

.adviser-touxiang{
    width:60px;
    height:60px;
    border-radius: 50px;
    margin-right: 10px;
}
.adviser-right{
    display: flex;
    flex-direction: column;
}
.adviser-name{
    display: flex;
    margin-top: 4px;
    align-items: center;
}
.adviser-name span{
    font-size: 14px;
    color:#333;
    margin-right: 5px;
    line-height: 14px;
}
.adviser-name i{
    display: block;
    width:11px;
    height:11px;
    background:url(../img/v.png) no-repeat 0 0;
    background-size:11px 11px;
}
.adviser-title{
    margin-top:10px;
    font-size: 13px;
    color:#666;
    line-height: 13px;
}
.adviser-label{
    font-size: 12px;
    color:#999;
    margin-top: 8px;
    line-height: 12px;
}