

.new-details{background:#fff;padding:15px;margin-top: 10px;margin-bottom: 10px;min-height: 363px}
.new-details>h1{color:#333;font-size:15px;margin-bottom:15px;line-height: 25px}
.new-details-p1{color:#666;font-size:11px;float: right}
.new-details-p1 span{margin-left: 10px}
/*.new-details-p1 .new-details-p1_span1 {margin-right:17px}*/
.new-details-p2{position:relative;color:#999;font-size:12px;padding-bottom: 15px; float: left}
/*.new-details-p2:after{content:"";display:block;position:absolute;bottom:1px;width:100%;-webkit-transform:scaleY(.5);transform:scaleY(.5);-webkit-transform-origin:0 0;transform-origin:0 0;border-bottom:solid 1px #e5e5e5}*/
.news-content p{color:#666;line-height:20px;margin-top:15px;font-size:13px;margin-bottom:15px;word-wrap:break-word}
.news-content img{display:table;max-width:100%;height:auto;}
.head_portrait{
    padding: 15px 0;
    height: 57px;
    /*display: flex;*/
}
.head_portrait_left{
    float: left;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #3cc51f;
}
.head_portrait_centen{
    float: left;
    line-height: 27px;
    margin-left: 10px;
}
.head_portrait_centen p{
    float: left;
}
.head_portrait_centen i{
    display: block;
    float: left;
    width:11px;
    height:11px;
    background:url(../img/v.png) no-repeat 0 0;
    background-size:11px 11px;
    margin-top: 9px;
    margin-left: 5px;
}
.head_portrait_right{
    float: right;
}
.adviser-label{
    font-size: 12px;
    color:#999;
    margin-top: 8px;
    line-height: 12px;
}