.search-container{
    position: fixed;
    top:43px;
    width: 100%;
    display: flex;
    z-index: 2;
    background-color: #D51821;
}
.search-box{
    width: 1px;
    padding: 5px 0 5px 10px;
    flex: 1;
    z-index: 999;
    box-sizing: border-box;
}
.search-bar{
    height:28px;
    display: flex;
    align-items: center;
    background:#fff;
    border-radius: 25px;
    padding-left: 11px;
    padding-right: 11px;
}
.search-bar input{
    flex:1;
    height:100%;
    padding-left: 5px;
}
.search-bar input::-webkit-input-placeholder{
    color:#666;
}
.search-bar input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#666;
}
.search-bar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#666;
}
.icon-sousuo{
    font-size: 15px;
    color:#666;
}
.cancel-btn{
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 36px;
}

/*tab*/
.so-box{
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 121;
    position: absolute;
    top:81px;
    overflow: scroll;
}
#so-box{
    display: none;
}
.so-tab{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    /*margin-bottom: 50px;*/
    /*border-bottom: 1px solid #eee;*/
}
.so-tab-item{
    width: 1px;
    flex: 1;
    font-size: 15px;
    height: 50px;
    color: #333;
    position: relative;
    text-align: center;
    background: #f8f8f8;
}
.so-tab-item_active{
    width: 1px;
    flex: 1;
    font-size: 15px;
    height: 50px;
    color: #fff;
    background: #c13232;
    text-align: center;
}
.so-box-content{
    flex: 1;
    background-color:#fff;
}
.so-box-item{
    width: 100%;
    /*height: 100%;*/
    /*display: none;*/
}
.so-box-item.active{
    display: block;
}

.so-box-item{
    padding: 0 5px 0 10px;
}
.so-box-item span{
    display: inline-block;
    width: 80px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #666;
    background-color: #f0f2f5;
    margin-right: 10px;
    margin-bottom: 10px;
}
.so-box-item .focus-on{
    color: #c13232;
    border: 1px solid #c13232;
}
.so-box-item-title{
    padding: 20px 10px 19px;
    font-size: 15px
}
.so-box-item-title svg{
    font-size: 15px;
    color: #c13232;
    margin-right: 8px
}