<!--搜索框 开始-->
<div class="search-container">
  <div class="search-box" >
    <a class="search-bar" href="{{helper.urlgen('search')}}">
      <input placeholder="搜索" id="search-content">
      <div style="width: 30px;height: 30px;text-align: right;line-height: 30px;" id="search-btn">
        <svg class="icon icon-sousuo" aria-hidden="true">
          <use xlink:href="#icon-sousuo"></use>
        </svg>
      </div>
    </a>
  </div>
  <div class="cancel-btn" id="cancel-btn" style="text-align: right">全部活动
    <svg class="icon" aria-hidden="true" style="color: #fff;margin: 0 8px;font-size: 14px;">
      <use xlink:href="#icon-xuanxiang"></use>
    </svg>
  </div>
</div>
<!--搜索框 结束-->
<div class="so-box" id="so-box">
  <div class="so-box-content" id="so-box-content">
    <!--国家-->
    {%
    set countryList = [
    {
    "id": 0,
    "country": "所有国家"
    },
    {
    "id": 1,
    "country": "美国"
    },
    {
    "id": 2,
    "country": "英国"
    },
    {
    "id": 4,
    "country": "澳大利亚"
    },
    {
    "id": 3,
    "country": "加拿大"
    },
    {
    "id": 5,
    "country": "新西兰"
    },
    {
    "id": 51,
    "country": "日本"
    },
    {
    "id": 50,
    "country": "韩国"
    },
    {
    "id": 54,
    "country": "中国香港"
    },
    {
    "id": 100,
    "country": "俄罗斯"
    },
    {
    "id": 101,
    "country": "乌克兰"
    },
    {
    "id": 108,
    "country": "爱尔兰"
    },
    {
    "id": 111,
    "country": "意大利"
    },
    {
    "id": 112,
    "country": "西班牙"
    },
    {
    "id": 102,
    "country": "白俄罗斯"
    },
    {
    "id": 52,
    "country": "新加坡"
    },
    {
    "id": 53,
    "country": "马来西亚"
    },
    {
    "id": 110,
    "country": "丹麦"
    },
    {
    "id": 103,
    "country": "德国"
    },
    {
    "id": 104,
    "country": "法国"
    },
    {
    "id": 105,
    "country": "挪威"
    },
    {
    "id": 106,
    "country": "瑞典"
    },
    {
    "id": 107,
    "country": "芬兰"
    },
    {
    "id": 109,
    "country": "荷兰"
    },
    {
    "id": 113,
    "country": "瑞士"
    }
    ]
    %}
    <!--时间-->
    {%
    set timeType = [
    {
    "id": 0,
    "type": "所有时间"
    },
    {
    "id": 5,
    "type": "近三天"
    },
    {
    "id": 1,
    "type": "近一周"
    },
    {
    "id": 1,
    "type": "未开始活动"
    },
    {
    "id": 1,
    "type": "已过期活动"
    }
    ]
    %}
    <!--学历-->
    {%
    set eduType = [
    {
    "id": 0,
    "type": "所有学历"
    },
    {
    "id": 1,
    "type": "中学"
    },
    {
    "id": 2,
    "type": "本科"
    },
    {
    "id": 3,
    "type": "硕士"
    },
    {
    "id": 4,
    "type": "博士"
    },
    {
    "id": 5,
    "type": "在职"
    }
    ]
    %}
    <div class="so-box-item-title"><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-32pxquanqiuzhicai"></use>
    </svg>国家</div>
    <div class="so-box-item ">{% for item in countryList %}<span  data-id="{{item.id}}" class={{'focus-on' if item.id == country else ""}}>{{item.country}}</span>{% endfor %}</div>
    <div class="so-box-item-title"><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-riqi"></use>
    </svg>时间</div>
    <div class="so-box-item ">{% for item in timeType %}<span data-id="{{item.id}}" class={{'focus-on' if item.type == type else ""}}>{{item.type}}</span>{% endfor %}</div>
    <div class="so-box-item-title"><svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-boshimao1"></use>
    </svg>学历</div>
    <div class="so-box-item ">{% for item in eduType %}<span data-id="{{item.id}}" class={{'focus-on' if item.type == type else ""}}>{{item.type}}</span>{% endfor %}</div>
  </div>
  <div class="so-tab" id="so-tab">
    <span class="so-tab-item">清空</span>
    <span class="so-tab-item_active">确定</span>
  </div>
</div>
<script>
  $(function () {
      $("#cancel-btn").on('click',function () {
          this.flag=!this.flag;
          if(this.flag){
              $("#so-box").show();
              $(this).addClass("cancel-btn-shou")
              $("#so-box").height($(window).height()-81-50);
              $(this).html("收起<svg class=\"icon\" aria-hidden=\"true\" style=\"color: #fff;margin: 0 8px;font-size: 14px;\">\n" +
                "<use xlink:href=\"#icon-xuanxiang-copy\"></use>\n" +
                "</svg>")
          }else {
            $(this).removeClass("cancel-btn-shou")
            $(this).html("全部活动<svg class=\"icon\" aria-hidden=\"true\" style=\"color: #fff;margin: 0 8px;font-size: 14px;\">\n" +
              "<use xlink:href=\"#icon-xuanxiang\"></use>\n" +
              "</svg>")
            $("#so-box").hide();
          }
      })
  })
</script>