
<footer class="footer-box" >      
    <ul class="footer-ul" >
        <li >
            <a  class="footer-consultation-a" data-jobNumber="{{userinfo.job_number}}" id="footer-consultation">
                <i class="footer-logo-information"></i>
                <span>立即咨询</span>
                <i class="consultation-news" >3</i>
            </a>
        </li>
        <li id="online-evaluation-li">
            <i class="footer-logo-online"></i>
            <span>在线评估</span>
        </li>
        <li class="telphone">
            <a href="tel:4000108000" >
                <i class="footer-logo-phone"></i>
                <span>400-010-8000</span>
            </a>
        </li>
    </ul>
</footer>
<script> 
    $("#footer-consultation").on('click',function(){
        openJesongChatByCus(1,$(this).attr('data-jobNumber'));
    });
    $("#online-evaluation-li").on("click",function(){
        //点击在线评估
        window.location.href=fn.urlgen('online_evaluation');
    });   
</script>     
