<footer class="footer-box" >      
    <ul class="footer-ul" >
        <li id="online-evaluation-li">
            <i class="footer-logo-online"></i>
            <span>移民评估</span>
        </li>
        <li class="telphone">
            <a href="http://jesong.jjl.cn/live/chat.do?c=1&g=54" >
                <i class="footer-logo-information"></i>
                <span>在线咨询</span>
                <i class="consultation-news" >3</i>
            </a>
        </li>
        <li class="telphone" id="footer-telphone">
            <a href="tel:4000108000" >
                <i class="footer-logo-phone"></i>
                <span>400-010-8000</span>
            </a>
        </li>
    </ul>
</footer>
<script >
    $("#online-evaluation-li").on("click",function(){
        //点击在线评估
        window.location.href=fn.urlgen('online_evaluation_yimin');
    })
    $("#footer-telphone").on('click',function(){
        $.ajax({
            type: "GET",
            url:ajaxUrlPrefix.nodeapi + "/dialing_log",
            dataType: "json",
            data:{
                typeid: 2
            },
            success: function(result){
                
            },
            error: function(error){
                console.log(error)
            }
        })
    })
</script>

